/* here you can put your own css to customize and override the theme */
.video {
    max-width:250px !important;
}

.select2-container {
    width: auto !important;
}

.page-header.navbar .page-logo .logo-default {
    margin: 16px 40px 0;
}

.page-header.navbar .search-form .input-group .form-control {
    color: white;
}

.reaction {
    position: relative;
    width: 24px;
    height: 24px;
    z-index: 50;
}

.reaction_bar_one {
    position: relative;
    left: -12px;
    z-index: 10;
}
.reaction_bar_two {
    position: relative;
    left: -24px;
    z-index: 5;
}

.reactionInfo {
    z-index: 100;
}

.reaction-modal {
    display: inline;
    width: 36px;
    height: 36px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.post {
    border: 1px solid #444;
    border-radius: 4px;
    padding: 7px;
}