{% extends 'base.html.twig' %}


{% block body %}

    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title" style="width: 100%">
            <h1>Listen
                <a href="#newListModal" class="btn green-jungle" data-toggle="modal"
                   style="float: right"> Liste hinzufügen
                    <i class="fa fa-plus"></i>
                </a>
            </h1>
        </div>
        <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ path('homepage') }}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{{ path('app_page_index') }}">Fanpages</a>
            <i class="fa fa-globe"></i>
        </li>
        <li>
            <span style="color:#697882;">Listen</span>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->

    <div class="row">
        <div class="col-md-12">
            <div class="dashboard-stat2 bordered dashboard-stat-fix">
                <div class="text-center">
                </div>
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                    <tr>
                        <th style="width:50%;"> Name</th>
                        <th> Einträge</th>
                        <th width="20%"></th>
                    </tr>
                    </thead>
                    <tbody id="listBody">
                    {% for list in lists %}
                        <tr>
                            <td>{{ list.name }}</td>
                            <td>{% if list_helper.countPagesInList(list) is defined %}
                                {{ list_helper.countPagesInList(list)|number_format(0,',','.') }}
                            {% endif %}</td>
                            <td class="text-right">
                                <div class="btn-group btn-group-xs">
                                    <a href="{{ path('app_list_showlist', {'id':list.id}) }}"
                                       class="btn btn-xs green-jungle" title="Seiten in dieser Liste anzeigen">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <button data-delete-id="{{ list.id }}" class="btn btn-xs red-haze confirmDelete"
                                            title="Löschen">
                                        <i class="fa fa-trash-o"></i>
                                    </button>

                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    {% if lists|length == 0 %}
                        <tr id="noListsColumn">
                            <td colspan="3" class="text-center">
                                <p>Es wurden noch keine Listen angelegt.</p>
                                <p>
                                    <a href="#newListModal" data-toggle="modal"
                                       class="btn btn-sm green-jungle"> Liste hinzufügen
                                        <i class="fa fa-plus"></i>
                                    </a>

                                </p>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="modal fade" id="newListModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="closeNewListModal" data-dismiss="modal"
                            aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Liste hinzufügen</h4>
                </div>
                <div class="modal-body">
                    <form onsubmit="return false;">
                        <div class="form-body">
                            <div class="form-group" id="searchGroup">
                                <label>Name:</label><br/>
                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-ticket"></i>
                                                    </span>
                                    <input type="text" class="form-control" id="newListInput"
                                           placeholder="Listenname z.B. Akquise">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn green-jungle" id="saveNewList">Speichern</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- DeleteModal -->
    <div id="DeleteListModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static"
         data-keyboard="false" data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-trash-o"></i> L&ouml;schen best&auml;tigen</h3>
                </div>
                <div class="modal-body">
                    <p>Möchten Sie die Liste: <strong></strong>
                        wirklich löschen?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" id="DeleteListBtn" data-dismiss="modal">Löschen</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                </div>
            </div>

        </div>
    </div>



{% endblock %}

{% block javascript %}
    <script>

        $('#saveNewList').click(function () {

            if ($("#newListInput").val() === "") {
                $('#searchGroup').addClass('has-error')
            } else {
                $('#searchGroup').removeClass('has-error')
                $('#closeNewListModal').click()

                App.blockUI({
                    target: "body",
                    boxed: true,
                    message: "Speichern..."
                });
                $.ajax({
                    url: '{{ path('app_list_new') }}',
                    type: 'post',
                    data: {
                        'name': $("#newListInput").val()
                    },
                    success: function (response) {

                        if (!response.hasOwnProperty("error")) {
                            addListRow(response.id, response.name, 0);
                            toastr.success("Liste erfolgreich erstellt");
                        } else {
                            toastr.error(response.error, "Fehler")
                        }

                        $("#newListInput").val("");
                        App.unblockUI("body");

                    }
                });
            }
        });

        $(document).on('click', '[data-delete-id]', function (e) {

            row = $(this);
            ListName = $(this).closest('tr').children('td').first().text();

            e.preventDefault();

            $('#DeleteListModal').modal('show');
            $('#DeleteListModal').find('.modal-body').find('p').find('strong').text(ListName);


            $('#DeleteListBtn').off('click').click(function () {

                $.ajax({
                    url: Routing.generate('app_list_delete', {'id': row.data('delete-id')}),
                    success: function (response) {
                        console.log(response)
                        if (response.status === 'ok') {
                            toastr.success("Liste gelöscht");
                            row.parent().parent().parent().remove();

                            if ($('#listBody').children().length === 0) {
                                $('#listBody').html('<tr id="noListsColumn"><td colspan="3" class="text-center"><p>Es wurden noch keine Listen hinzugefügt.</p><p><a href="javascript:" data-toggle="modal" data-target="#newListModal" class="btn btn-sm green-jungle"> Liste hinzufügen <i class="fa fa-plus"></i></a></p></td></tr>');
                            }
                        }
                    }
                });

            });
        });


        function addListRow(id, name, count) {
            if ($('#noListsColumn').length === 1) {
                $('#noListsColumn').remove();
            }
            $('#listBody').append('<tr><td>' + name + '</td><td>' + count + '</td><td class="text-right"><div class="btn-group btn-group-xs btn-group-solid"> <a href="' + Routing.generate('app_list_showlist', {'id': id}) + '" class="btn btn-xs green-jungle" title="Seiten in dieser Liste anzeigen"> <i class="fa fa-eye"></i></a><button type="button" class="btn btn-xs red confirmDelete" title="Löschen" data-delete-id="' + id + '"><i class="fa fa-trash-o"></i></button></div></td>');

        }


    </script>
{% endblock %}