{% extends 'base.html.twig' %}

{% macro getExportLink(list) %}
    {% if app.request.query.has("sort") %}
        {% set sort = app.request.query.get("sort") %}
    {% else %}
        {% set sort = 'p.scrapeDate' %}
    {% endif %}
    {% if app.request.query.has("direction") %}
        {% set direction = app.request.query.get("direction") %}
    {% else %}
        {% set direction = 'asc' %}
    {% endif %}
    {% set term = app.request.query.get("s",null) %}


    {% set field_name = app.request.query.get("field_name",null) %}

    {% set field_cat = app.request.query.get("field_cat",null) %}

    {% set field_sear = app.request.query.get("field_sear",null) %}

    {% set field_adr = app.request.query.get("field_adr",null) %}

    {% set field_about = app.request.query.get("field_about",null) %}

    {% set field_descr = app.request.query.get("field_descr",null) %}


    {% set field_impr = app.request.query.get("field_impr",null) %}

    {{ path('app_search_export',{'sort':sort,'direction':direction,'list':list.id,'field_name':field_name,'field_cat':field_cat,'field_sear':field_sear,'field_adr':field_adr,'field_about':field_about,'field_descr':field_descr,'field_impr':field_impr}) }}


{% endmacro %}
{% import _self as helper %}


{% block style %}
    {{ parent() }}

    <style type="text/css">

        th:nth-of-type(1),
        tr td:nth-of-type(1),
        th:nth-of-type(9),
        tr td:nth-of-type(9) {
            text-align: center !important;
        }

        .btn-outline {
            border: none !important;
        }
        body > div.page-container > div.page-content-wrapper > div.page-content > div.row > div > div.dashboard-stat2.bordered.dashboard-stat-fix > div > div:nth-child(5) > div > div > a {
            -webkit-border-radius: 4px !important;
            -moz-border-radius: 4px !important;
            border-radius: 4px !important;
        }



    </style>

{% endblock %}


{% block body %}

<!-- BEGIN PAGE HEAD-->
<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
        <h1 id="title">{{ list.name }}</h1>
    </div>
    <!-- END PAGE TITLE -->
</div>

<!-- END PAGE HEAD -->
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="{{ path('homepage') }}">Home</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="{{ path('app_page_index') }}">Fanpages</a>
        <i class="fa fa-globe"></i>
    </li>
    <li>
        <a href="{{ path('app_list_list') }}">Listen</a>
        <i class="fa fa-list-alt"></i>
    </li>
    <li>
        <a href="{{ path('app_list_showlist',{'id':list.id}) }}">{{ list.name }}</a>
        <i class="fa fa-list-alt"></i>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->


<div class="row">
    <div class="col-md-12">
        <div class="dashboard-stat2 bordered dashboard-stat-fix">


            <div class="row">
                <form class="search-form" action="{{ path('app_list_listfilter', {'id':id}) }}" method="GET">
                    <input type="hidden" name="id" value="{{ id }}"/>
                    <div class="col-md-4 col-xs-12">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" placeholder="Fanpages durchsuchen..."
                                   name="s"
                                   {% if app.request.query.has("s") %}value="{{ app.request.query.get("s") }}"{% endif %}>
                            <span class="input-group-btn">
                                <button class="btn btn-sm blue">
                                    <i class="icon-magnifier"></i>
                                </button>
                        </span>
                        </div>

                        <div class="text-primary col-md-12" style="margin-top: 12px;margin-left: -15px;">

                            <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse"
                                    data-target=".filter">Erweiterte Suche <i class="fa fa-angle-down"></i>
                            </button>

                        </div>

                        <div class="col-md-6 filter collapse">

                            <p class="text-primary">In folgenden Feldern suchen:</p>
                            <label class="switch">
                                <input type="checkbox" id="checkAll" checked>
                                <span class="slider round"></span>
                                <span class="sliderName">Alle Felder</span>
                            </label>

                            <br/>
                            <label class="switch">
                                <input type="checkbox" class="btn btn-primary check" name="field_name"
                                       value="1"
                                       id="field_name"
                                       {% if filter_name is not defined %}checked{% endif %}
                                        {% if filter_name is defined and filter_name == 1 %}checked{% endif %}/>
                                <span class="slider round"></span>
                                <span class="sliderName">Name</span>
                            </label>
                            <br/>
                            <label class="switch">
                                <input type="checkbox" class="btn btn-primary check" name="field_cat"
                                       value="1" id="field_category"
                                       {% if filter_category is not defined %}checked{% endif %}
                                        {% if filter_category is defined and filter_category == 1 %}checked{% endif %}/>
                                <span class="slider round"></span>
                                <span class="sliderName">Kategorie</span>
                            </label>
                            <br/>
                            <label class="switch">
                                <input type="checkbox" class="btn btn-primary check" name="field_adr"
                                       value="1" id="field_adress"
                                       {% if filter_adress is not defined %}checked{% endif %}
                                        {% if filter_adress is defined and filter_adress == 1 %}checked{% endif %}/>
                                <span class="slider round"></span>
                                <span class="sliderName">Ort</span>
                            </label>

                            <br/>
                            <label class="switch">
                                <input type="checkbox" class="btn btn-primary check" name="field_about"
                                       value="1"
                                       id="field_about"
                                       {% if filter_about is not defined %}checked{% endif %}
                                        {% if filter_about is defined and filter_about == 1 %}checked{% endif %}/>
                                <span class="slider round"></span>
                                <span class="sliderName">Seite</span>
                            </label>
                            <br/>
                            <label class="switch">
                                <input type="checkbox" class="btn btn-primary check" name="field_descr"
                                       value="1" id="field_description"
                                       {% if filter_description is not defined %}checked{% endif %}
                                        {% if filter_description is defined and filter_description == 1 %}checked{% endif %}/>
                                <span class="slider round"></span>
                                <span class="sliderName">Beschreibung</span>
                            </label>
                            <br/>
                            <label class="switch">
                                <input type="checkbox" class="btn btn-primary check" name="field_impr"
                                       value="1" id="field_impressum"
                                       {% if filter_impressum is not defined %}checked{% endif %}
                                        {% if filter_impressum is defined and filter_impressum == 1 %}checked{% endif %}/>
                                <span class="slider round"></span>
                                <span class="sliderName">Impressum</span>
                            </label>
                        </div>


                        <div class="col-md-6 collapse filter text-primary">

                            <p>In folgendem Suchauftrag suchen:</p>
                            <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-list-alt"></i>
                                                    </span>
                                <select id="listSelect2" class="form-control" name="pSearch">
                                    {% if searches is defined %}
                                        {% if filterSearch is defined and filterSearch is not null %}
                                            <option selected
                                                    value="{{ filterSearch.id }}">{{ filterSearch.term }}</option>
                                            <option value="null" id="list2Null">Alle</option>
                                        {% else %}
                                            <option value="null" id="list2Null">Alle</option>
                                        {% endif %}


                                        {% for search in searches %}
                                            <option value="{{ search.id }}">{{ search.term }}</option>
                                        {% endfor %}
                                        {% if searches|length == 0 %}
                                            <option value="false">Es wurden keine Suchaufträge angelegt.</option>
                                        {% endif %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>

                      <div class="col-md-6 collapse filter text-primary" style="margin-top: 30px;">
                            <div class="alert alert-info"><i class="icon-info"></i>
                                Kennzeichnen Sie Begriffe, die Sie ausschließen möchten mit einem vorangestellten Minus.
                            </div>
                        </div>

                    </div>
                    {% if id is defined %}
                    <input type="hidden" value="{{ id }}" name="listID"/>
                    {% endif %}
                </form>


                {% if count is defined %}
                    <div class="col-md-4 col-xs-12">
                        <div class="text-center text-primary">
                            <h4>
                                {% if count > 0 %}
                                    {{ count }} Treffer {% if name|length > 0 %} für "{{ name }}"{% endif %}
                                {% else %}
                                    Leider keine Treffer{% if name|length > 0 %} für "{{ name }}"{% endif %}
                                {% endif %}
                            </h4>
                        </div>
                    </div>

                {% else %}

                    {% if pagination|length > 0 %}
                        <div class="col-md-4 col-xs-12">
                            <div class="text-center text-primary">
                                <h4 style="margin-top: 0">{% if list_helper.countPagesInList(list) is defined %}
                                            {{ list_helper.countPagesInList(list)|number_format(0,',','.') }}
                                        {% endif %} Fanpages in dieser Liste</h4>
                            </div>
                        </div>
                        {% else %}
                            <div class="col-md-4 col-xs-12">
                                <div class="text-center text-primary">
                                    <h4 style="margin-top: 0"> Keine Fanpages in dieser Liste</h4>
                                </div>
                            </div>
                    {% endif %}
                {% endif %}

                {% if id is defined %}
                    <input type="hidden" name="id" value="{{ id }}"/>
                {% endif %}

                <div class="col-md-4 col-xs-12">

                    <div class="actions">
                        <div class="btn-group pull-right">
                            <a class="btn btn-primary btn-outline btn-md" href="javascript:;" data-toggle="dropdown"
                               data-hover="dropdown" data-close-others="true" aria-expanded="false" id="bulkCount" style="border-radius: 4px;">
                               0 Fanpages bearbeiten <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right" style="text-align: center">
                                <li>
                                    <form method="POST" action="{{ path('app_search_export') }}">

                                        <input type="hidden" id="searchInput" name="search" value=""/>
                                        <input type="hidden" id="pagesInput" name="pages" value=""/>

                                        <button type="button" class="btn green btn-outline" id="exportBtn" disabled
                                                style="margin-top: 10px;width:100%;border-radius:0;">
                                            <i class="fa fa-file-excel-o"></i>
                                            0 Fanpages exportieren
                                        </button>
                                        <input type="submit" style="display:none;" id="exportSubmit">
                                    </form>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <button type="button" class="btn red btn-outline"
                                            id="deleteBtn"   style="margin-bottom: 10px;width:100%;;border-radius:0;"
                                            data-toggle="modal" data-target="#DeleteModal" disabled>
                                        0 Fanpages entfernen
                                    </button>
                                </li>
                            </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        {% if pagination|length > 0 %}

            <div class="row">
                <div class="col-md-12">
                    <div class="dashboard-stat2 bordered dashboard-stat-fix">

                        <div class="text-center">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                        <table class="table table-bordered table-striped table-condensed flip-content">
                            <thead class="flip-content">
                            <tr>
                                <th><input type="checkbox" id="bulkAll" title="Alle auswählen"/></th>
                                <th> {{ knp_pagination_sortable(pagination, 'Name', 'p.name') }}</th>
                                <th class="numeric">  {{ knp_pagination_sortable(pagination, 'Likes', 'p.fanCount') }}</th>
                                <th class="numeric">  {{ knp_pagination_sortable(pagination, 'Interaktionsrate', 'p.interactionrate') }}</th>
                                <th class="numeric">  {{ knp_pagination_sortable(pagination, 'Kategorie', 'p.category') }}</th>
                                <th class="numeric"> Adresse</th>
                                <th class="numeric"> Telefon</th>
                                <th class="numeric"> {{ knp_pagination_sortable(pagination, 'Letztes Update', 'p.scrapeDate') }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% if pagination|length == 0 %}
                                <tr>
                                    <td colspan="8" class="text-center">Es befinden sich keine Fanpages in dieser
                                        Liste.
                                    </td>
                                </tr>
                            {% endif %}

                            {% for page in pagination %}
                                <tr>
                                    <td>
                                        <input type="checkbox" class="bulk" value="{{ page.id }}" title="Auswählen"/>
                                    </td>
                                    <td>
                                        <a data-page-link
                                           href="{{ path('app_page_show',{'id':page.id}) }}">{{ page.name }}</a>
                                    </td>
                                    <td class="text-right">
                                        {{ page.fanCount|number_format(0,',','.') }}
                                    </td>
                                    <td class="text-right">
                                        {% if page.interactionrate %}
                                            {{ page.interactionrate|number_format(2,',','.') }} %
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if page.category %}
                                            {{ page.category }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>

                                        {% if page.street %}
                                            {{ page.street }}<br/>
                                        {% endif %}
                                        {% if page.zip %}{{ page.zip }}{% endif %}
                                        {% if page.city %}{{ page.city }}{% endif %}<br/>
                                        {% if page.country %}
                                            {{ page.country }}
                                        {% endif %}
                                        {% if not page.street and not page.zip and not page.city and not page.country %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if page.phone %}
                                            <a href="tel:{{ page.phone }}" target="_blank">{{ page.phone }}</a>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ page.scrapeDate|date("d.m.Y H:i") }}
                                    </td>
                                    <td style="width: 3%;">
                                        <a href="{{ path('app_page_show',{'id':page.id}) }}" title="Ansehen"
                                           class="btn btn-xs green-jungle">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                        <div class="text-center">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>

                </div>
            </div>

        {% endif %}


        <div id="DeleteModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static"
             data-keyboard="false"
             data-attention-animation="false" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title"><i class="fa fa-trash"></i> Entfernen best&auml;tigen</h3>
                    </div>
                    <div class="modal-body">
                        <p>Möchten Sie diese Fanpages aus der Liste entfernen?
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger" id="deleteConfirm" data-dismiss="modal">Entfernen</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    </div>
                </div>

            </div>
        </div>


        <input type="hidden" value="{{ page_helper.getMaxPagination(app.user) }}" id="maxPagination">

        {% endblock %}


        {% block javascript %}

            <script>

                $(function () {
                    $("#checkAll").click(function () {
                        $(".check").prop('checked', $(this).prop('checked'));
                    });

                    $(".check").click(function () {
                        if ($("#checkAll").prop('checked')) {
                            $("#checkAll").removeAttr("checked");
                        }
                    });
                });


                $(function () {

                    $("#bulkAll").click(function () {

                        $(".bulk").prop('checked', $(this).prop('checked'));

                        if ($('.bulk:checked').length == 0) {

                            //$("#toListBtn").prop("disabled", true);
                            $("#deleteBtn").prop("disabled", true);
                            //$("#archivBtn").prop("disabled", true);
                            $("#exportBtn").prop("disabled", true);

                            //$("#workOnAll").show();
                            //$("#workOnSome").hide();
                            var i = 0;

                            $('.bulk:checked').each(function () {
                                i++;
                            });

                            $('#bulkCount').html(i + ' Fanpages bearbeiten <i class=\"fa fa-angle-down\"><\/i>');
                        } else {

                            //$("#toListBtn").removeAttr("disabled");
                            $("#deleteBtn").removeAttr("disabled");
                            //$("#archivBtn").removeAttr("disabled");
                            $("#exportBtn").removeAttr("disabled");

                            //$("#workOnAll").hide();
                            //$("#workOnSome").show();
                            var i = 0;

                            $('.bulk:checked').each(function () {
                                i++;
                            });

                            $('#bulkCount').html(i + ' Fanpages bearbeiten <i class=\"fa fa-angle-down\"><\/i>');
                        }

                        $('#exportBtn').html('<i class="fa fa-file-excel-o"></i> ' + i + ' Fanpages exportieren');
                        $('#deleteBtn').html(i + ' Fanpages entfernen');
                    });

                    $(".bulk").click(function () {

                        var i = 0;

                        $('.bulk:checked').each(function () {
                            i++;
                        });

                        if ($('.bulk:checked').length == 1) {
                            $('#bulkCount').html(i + ' Fanpage bearbeiten <i class=\"fa fa-angle-down\"><\/i>');
                        } else {
                            $('#bulkCount').html(i + ' Fanpages bearbeiten <i class=\"fa fa-angle-down\"><\/i>');
                        }

                        var maxPagination = $('#maxPagination').val();

                        if ($('.bulk:checked').length < maxPagination) {
                            $("#bulkAll").prop("checked", false);
                        }
                        if ($('.bulk:checked').length == 1) {
                            $('#exportBtn').html('<i class="fa fa-file-excel-o"></i> ' + i + ' Fanpage exportieren');
                            $('#deleteBtn').html(i + ' Fanpage entfernen');
                        } else {
                            $('#exportBtn').html('<i class="fa fa-file-excel-o"></i> ' + i + ' Fanpages exportieren');
                            $('#deleteBtn').html(i + ' Fanpages entfernen');
                        }

                        if (!$(this).prop('checked')) {

                            if ($('.bulk:checked').length == 0) {

                                $("#bulkAll").removeAttr("checked");

                                //$("#toListBtn").prop("disabled", true);
                                $("#deleteBtn").prop("disabled", true);
                                //$("#archivBtn").prop("disabled", true);
                                $("#exportBtn").prop("disabled", true);

                                //$("#workOnAll").show();
                                //$("#workOnSome").hide();
                            }
                            var i = 0;

                            $('.bulk:checked').each(function () {
                                i++;
                            });



                        } else {
                            $("#bulkAll").removeAttr("checked");

                            //$("#toListBtn").removeAttr("disabled");
                            $("#deleteBtn").removeAttr("disabled");
                            //$("#archivBtn").removeAttr("disabled");
                            $("#exportBtn").removeAttr("disabled");

                            //$("#workOnAll").hide();
                            //$("#workOnSome").show();

                            var i = 0;

                            $('.bulk:checked').each(function () {
                                i++;
                            });

                        }
                    });
                });

                $(function () {
                    $('#deleteBtn').click(function (e) {

                        e.preventDefault();

                        $('#deleteConfirm').click(function () {
                            var pages = [];
                            var i = 0;

                            $('.bulk:checked').each(function () {
                                i++;
                                pages[i] = $(this).val();
                            });

                            $.ajax({
                                type: 'Post',
                                url: Routing.generate('app_page_endlist'),
                                data: {
                                    'selected': pages
                                },
                                success: function (response) {
                                    console.log(response)
                                    if (response.status === 'ok') {
                                        toastr.success("Entfernt");
                                        window.location.reload();
                                    } else {
                                        toastr.error("Es ist ein Fehler aufgetreten.");
                                    }
                                },
                                error: function () {
                                    toastr.error("Es ist ein unerwarteter Fehler aufgetreten.");
                                }

                            });
                        });


                    });
                });


                $(function () {
                    $('#exportBtn').click(function (e) {

                        e.preventDefault();

                        var search = $('#title').text();

                        var pages = [];
                        var i = 0;

                        $('.bulk:checked').each(function () {
                            i++;
                            pages[i] = $(this).val();
                        });

                        $("#searchInput").val(search);
                        $("#pagesInput").val(JSON.stringify(pages));

                        $('#exportSubmit').trigger("click");


                    });
                });

            </script>

        {% endblock %}


