<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <title>Page Scanner</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta charset="UTF-8">
    <meta content="CREA Werbeagentur GmbH" name="author"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/vendor/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/vendor/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet"
          type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="{{ asset('assets/css/components-rounded.min.css') }}" rel="stylesheet" id="style_components"
          type="text/css"/>
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="{{ asset('assets/css/layout.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/css/themes/default.min.css') }}" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('assets/css/error.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="{{ asset('assets/favicon.ico') }}"/>
    {% block style %}{% endblock %}
</head>
<body class=" page-500-full-page">
<div class="row">
    <div class="col-md-12 page-500">
        <div class="number font-red"> 500</div>
        <div class=" details">
            <h3>Es ist ein Problem aufgetreten</h3>
            <p>Die gewünschte Seite ist zurzeit nicht erreichbar.
                <br/> <br/>
                Laden Sie die Seite zunächst bitte neu. <br /> Sollten Sie diese Meldung weiterhin angezeigt bekommen<br />versuchen
                Sie es bitte
                zu einem späteren Zeitpunkt erneut.
            </p>
            <p>
                <a href="{{ path("homepage") }}" class="btn red btn-outline"> Zur Startseite </a>
                <br></p>
        </div>
    </div>
</div>
</body>
</html>