<h3>Herzlich Willkommen bei Digblue</h3>
Hallo {{ name }}!
<br/>
<br/>
Ihr Loginname: {{ user }}
<br/>
Ihr Passwort: {{ pw }}
<br/>
<br/>
Um sich einzuloggen, klicken Sie auf folgenden Link: <a href="{{ link }}">{{ link }}</a>.
<br/>
<h4>Ihr Digblue-Team</h4>
<br/>
<small><a target="_blank" href="http://crea.de"><i class="fa fa-copyright" aria-hidden="true"></i> 2017 by CREA Werbeagentur GmbH</a>
    <br/>
<a href="http://crea.de/impressum" target="_blank">Impressum</a>
    <br/>
<a href="http://crea.de/datenschutzhinweise" target="_blank">Datenschutz</a>
</small>