Von: {{ name }}<br><br>
E-Mail: {{ email }}<br><br>
Betreff: {{ subject }}<br><br>
User-Agent: {{ agent }}<br><br>
User-IP: {{ ip }}<br><br>
Versendet am: {{ ""|date("d.m.Y H:i") }}<br><br>
{{ message }}<br><br>
