{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
    </style>
{% endblock %}

{% block body %}
    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>Dashboard</h1>
        </div>

        <button data-toggle="modal" data-target="#FilterModal" class="btn btn-info pull-right">  <i class="fa fa-wrench"></i> Anzeige anpassen

        </button>

        <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ path('homepage') }}">Home</a>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    {% if userPageCount >= app.user.maxPages %}
    <div class="alert alert-danger">
        <i class="fa fa-exclamation-triangle"></i>&nbsp;
        Sie haben {{ userPageCount }} von {{ app.user.maxPages }} Fanpages erfasst.<br/>
        Um weitere Seiten zu erfassen, löschen Sie ein paar Seiten oder führen Sie ein Upgrade Ihres Accounts durch.<br/>
        Weitere Informationen erhalten Sie bei unserem Support Team unter - 05 41 / 40 46 40
    </div>
    {% endif %}


<div class="row">
    <div class="col-md-6">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet box white">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-book"></i>
                    {{ userPageCount|number_format(0,',','.') }} Fanpages Fanpages in der Datenbank
                </div>
            </div>
        </div>
    </div>
    <!-- END Portlet PORTLET-->
    <div class="col-md-6">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet box white">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>
                    {% if fanpages["since"] > 0 %}
                        <a href="{{ path('app_page_newpagesindex') }}">{{ fanpages["since"]|number_format(0,',','.') }}
                            neue Fanpages</a> gefunden
                    {% elseif fanpages["since"] == 1 %}
                        <a href="{{ path('app_page_newpagesindex') }}">{{ fanpages["since"]|number_format(0,',','.') }}
                            neue Fanpage</a>
                    {% else %}
                        0 neue Fanpages gefunden
                    {% endif %}
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    </div>
                </div>
            </div>
            <!-- END Portlet PORTLET-->
        </div>
    </div>

    {% if overview != true and listJobs > 0 %}
        &nbsp;
    {% else %}
        <div class="dashboard-stat2 bordered dashboard-stat-fix col-md-12 text-center" style="padding: 0">
            <h2 style="margin: 5px 0;">Toplisten</h2>
        </div>
    {% endif %}

    {% if overview is defined %}
        {% if overview == true %}

            <div class="row">

                <div class="col-md-6">
                    <!-- BEGIN Portlet PORTLET 1-->
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption col-md-10" style="line-height:22px">
                                <i class="fa fa-thumbs-up"></i> Likes Gesamtliste
                            </div>
                            <div class="tools col-md-2 text-right">
                                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                <a href="javascript:;" data-load="true"
                                   data-url="{{ path('app_page_gettop5',{'template':1,'display':5}) }}"
                                   class="reload" data-original-title="" title=""> </a>
                            </div>
                        </div>
                        <div class="portlet-body portlet-empty"></div>
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- BEGIN Portlet PORTLET 2-->
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption col-md-10" style="line-height:22px">
                                <i class="fa fa-tachometer"></i> Interaktionsrate Gesamtliste
                            </div>
                            <div class="tools col-md-2 text-right">
                                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                <a href="javascript:;" data-load="true"
                                   data-url="{{ path('app_page_gettop5',{'template':1,'display':6}) }}"
                                   class="reload" data-original-title="" title=""> </a>

                            </div>
                        </div>
                        <div class="portlet-body portlet-empty"></div>
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- BEGIN Portlet PORTLET 3-->
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption col-md-10" style="line-height:22px">
                                <i class="fa fa-map-marker"></i> Waren hier Gesamtliste
                            </div>
                            <div class="tools col-md-2 text-right">
                                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                <a href="javascript:;" data-load="true"
                                   data-url="{{ path('app_page_gettop5',{'template':1,'display':7}) }}"
                                   class="reload" data-original-title="" title=""> </a>

                            </div>
                        </div>
                        <div class="portlet-body portlet-empty"></div>
                    </div>
                </div>

                <div class="col-md-6">
                    <!-- BEGIN Portlet PORTLET 4-->
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption col-md-10" style="line-height:22px">
                                <i class="fa fa-bullhorn"></i> Sprechen über Gesamtliste
                            </div>
                            <div class="tools col-md-2 text-right">
                                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                <a href="javascript:;" data-load="true"
                                   data-url="{{ path('app_page_gettop5',{'template':1,'display':8}) }}"
                                   class="reload" data-original-title="" title=""> </a>

                            </div>
                        </div>
                        <div class="portlet-body portlet-empty"></div>
                    </div>
                </div>

            </div>

        {% endif %}
    {% endif %}



    {% for list in listJobs %}
        <div class="row">

            <div class="col-md-6">
                <!-- BEGIN Portlet PORTLET 1-->
                <div class="portlet box {% if loop.index is even %}blue{% else %}red{% endif %}">
                    <div class="portlet-title">
                        <div class="caption col-md-10" style="line-height:22px">
                            <i class="fa fa-thumbs-up"></i> Likes "{{ list.name }}"
                        </div>
                        <div class="tools col-md-2 text-right">
                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                            <a href="javascript:;" data-load="true"
                               data-url="{{ path('app_page_gettop5',{'template':1,'filter':list.id,'display':1}) }}"
                               class="reload" data-original-title="" title=""> </a>
                        </div>
                    </div>
                    <div class="portlet-body portlet-empty"></div>
                </div>
            </div>

            <div class="col-md-6">
                <!-- BEGIN Portlet PORTLET 2-->
                <div class="portlet box {% if loop.index is even %}blue{% else %}red{% endif %}">
                    <div class="portlet-title">
                        <div class="caption col-md-10" style="line-height:22px">
                            <i class="fa fa-tachometer"></i> Interaktionsrate "{{ list.name }}"
                        </div>
                        <div class="tools col-md-2 text-right">
                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                            <a href="javascript:;" data-load="true"
                               data-url="{{ path('app_page_gettop5',{'template':1,'filter':list.id,'display':2}) }}"
                               class="reload" data-original-title="" title=""> </a>

                        </div>
                    </div>
                    <div class="portlet-body portlet-empty"></div>
                </div>
            </div>

            <div class="col-md-6">
                <!-- BEGIN Portlet PORTLET 3-->
                <div class="portlet box {% if loop.index is even %}blue{% else %}red{% endif %}">
                    <div class="portlet-title">
                        <div class="caption col-md-10" style="line-height:22px">
                            <i class="fa fa-map-marker"></i> Waren hier "{{ list.name }}"
                        </div>
                        <div class="tools col-md-2 text-right">
                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                            <a href="javascript:;" data-load="true"
                               data-url="{{ path('app_page_gettop5',{'template':1,'filter':list.id,'display':3}) }}"
                               class="reload" data-original-title="" title=""> </a>

                        </div>
                    </div>
                    <div class="portlet-body portlet-empty"></div>
                </div>
            </div>

            <div class="col-md-6">
                <!-- BEGIN Portlet PORTLET 4-->
                <div class="portlet box {% if loop.index is even %}blue{% else %}red{% endif %}">
                    <div class="portlet-title">
                        <div class="caption col-md-10" style="line-height:22px">
                            <i class="fa fa-bullhorn"></i> Sprechen über "{{ list.name }}"
                        </div>
                        <div class="tools col-md-2 text-right">
                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                            <a href="javascript:;" data-load="true"
                               data-url="{{ path('app_page_gettop5',{'template':1,'filter':list.id,'display':4}) }}"
                               class="reload" data-original-title="" title=""> </a>

                        </div>
                    </div>
                    <div class="portlet-body portlet-empty"></div>
                </div>
            </div>

        </div>
    {% endfor %}


    <!-- Filter Modal -->
    <div class="modal fade" id="FilterModal" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <h4 class="modal-title">Anzeige anpassen</h4>
                </div>
                <form id="activateForm" method="post" onsubmit="return:false;">
                    <div class="modal-body">
                        <p>Wählen Sie aus, welche Listen hier angezeigt werden sollen.</p>

                        <select class="js-example-basic-multiple" multiple="multiple" id="activePages" name="active[]">
                            {% if lists|length == 0 %}
                                <option value="false" selected="true">Sie haben noch keine Listen angelegt</option>
                            {% else %}



                                {% for list in lists %}
                                    <option value="{{ list.id }}" {% if list in listJobs %}
                                        selected="true"
                                            {% endif %}>{{ list.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>

                        <p>
                            <label>
                                <input type="checkbox" {% if overview is defined %}
                                    {% if overview == true %}checked{% endif %}{% endif %} id="seeOverview">
                                Gesamtübersicht anzeigen
                            </label>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="saveFilterBtn">Änderungen speichern</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                    </div>
                </form>

            </div>
        </div>
    </div>


    {% endblock %}

    {% block javascript %}

    <script type="text/javascript">
        $(document).ready(function () {
            $(".js-example-basic-multiple").select2(
                {
                    language: {
                        noResults: function (term) {
                            return "Sie haben noch keine Listen angelegt.";
                        }
                    }
                }
            );

            $('#saveFilterBtn').click(function () {

                var overview = 0;

                if ($('#seeOverview').is(":checked")) {
                    overview = 1;
                } else {
                    overview = 0;
                }

                $.ajax({
                    url: Routing.generate('activePageChange'),
                    type: "POST",
                    data: {
                        'active': JSON.stringify($('#activePages').val()),
                        'overview': overview
                    },
                    success: function () {
                        window.location.reload()
                        toastr.success('Anzeige geändert.')
                    }


                });

            });
        });


    </script>


</div>{% endblock %}