{% extends 'base.html.twig' %}


{% block body %}

    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="col-md-8">
            <div class="page-title">
                <h1>Administration</h1>
            </div>
        </div>
        <div class="col-md-4 pull-right hidden-xs">
            <a href="#addModal" class="btn btn-sm green-jungle" data-toggle="modal"
               style="width: 194px;float: right;padding: 6px;font-size: 14px;"> Account hinzufügen
                <i class="fa fa-plus"></i>
            </a>
        </div>
        <div class="col-xs-12 hidden-md hidden-lg hidden-sm">
            <a href="#addModal" class="btn btn-sm green-jungle" data-toggle="modal"
               style="width: 194px;padding: 6px;font-size: 14px;margin-left: -17px;margin-top: -10px;margin-bottom: 10px;">
                Account hinzufügen
                <i class="fa fa-plus"></i>
            </a>
        </div>

        <!-- END PAGE TITLE -->


    </div>

    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE BREADCRUMB -->
    <div class="col-md-10 col-xs-12">
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="{{ path('homepage') }}">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span style="color:#697882;">Administrator</span>
                <i class="fa fa-globe"></i>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="dashboard-stat2 bordered dashboard-stat-fix">

                <div class="row">
                    <div class="col-md-8">
                        {% if allUserPages is defined %}
                            <p style="margin-top: 0">
                                {{ allUserPages }} von {{ admin_max_pages }} Fanpages verteilt.
                            </p>
                            <p>
                               {{ allUserSearches }} von {{ admin_max_searches }} Suchaufträgen verteilt.
                            </p>
                            <p style="margin-bottom: -12px;">
                               {{ allUserAccounts }} von {{ admin_max_accounts }} Accounts angelegt.
                            </p>
                        {% else %}
                            <p style="margin-top: 0">Sie können {{ admin_max_pages }} Fanpages auf die Accounts verteilen.</p>
                            <p style="margin-bottom: -12px;">Sie können {{ admin_max_searches }} Suchaufträge auf die Accounts verteilen.</p>
                        {% endif %}
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">
                        <div class="actions" id="workOnAll">
                            <div class="btn-group pull-right">
                                <a class="btn btn-primary btn-outline btn-md" href="javascript:;" data-toggle="dropdown"
                                   data-hover="dropdown" data-close-others="true" aria-expanded="false"
                                   style=" border-radius: 4px;">
                                    Account bearbeiten <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu pull-right" style="text-align: center;">
                                    <li>
                                        <button type="button"
                                                style="margin-top: 10px;width:100%;border: 0;border-radius: 0"
                                                class="btn blue btn-outline"
                                                data-toggle="modal" data-target="#limitModal" id="limitBtn" disabled>
                                            Limit ändern
                                        </button>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <button type="button"
                                                style="margin-bottom: 10px;width:100%;border: 0;border-radius: 0"
                                                class="btn red btn-outline"
                                                data-toggle="modal" data-target="#deleteModal" id="deleteBtn" disabled>
                                            Account löschen
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% if pagination|length > 0 %}
        <div class="row">
            <div class="col-md-12">
                <div class="dashboard-stat2 bordered dashboard-stat-fix">
                    <div class="text-center">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                        <tr>
                            <th></th>
                            <th> Username</th>
                            <th> E-Mail</th>
                            <th> Limit Suchaufträge</th>
                            <th> Limit Fanpages</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for account in pagination %}
                            <tr>
                                <td class="text-center" style="width: 3%">
                                    {% for role in account.roles if role == "ROLE_SUPER_ADMIN" %}
                                   <i class="fa fa-key" style="transform: rotate(90deg);"></i>
                                  {% else %}
                                    <input title="Auswählen" type="checkbox" class="bulk" value="{{ account.id }}"/>
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ account.username }}
                                </td>
                                <td>
                                    {{ account.email }}
                                </td>
                                <td class="text-right">
                                    {{ account.searchJobs }}
                                </td>
                                <td class="text-right">
                                    {{ account.maxPages }}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    {% endif %}


    <div id="limitModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static"
         data-keyboard="false"
         data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-wrench"></i> Limits bearbeiten</h3>
                </div>
                <div class="modal-body">
                    <div class="col-md-10">
                        <label for="accountSearches">Hier können Sie die maximalen Suchaufträge für diesen
                            Account ändern:</label>
                    </div>
                    <div class="col-md-2">
                        <input type="number" min="0" id="accountSearches" value="" name="accountSearches" class="pull-right" style="width: 100%;text-align: right" autocomplete="off"/>
                    </div>
                    <div class="col-md-10">
                        <label for="accountPages">Hier können Sie die maximal gespeicherten Fanpages
                            ändern:</label>
                    </div>
                    <div class="col-md-2">
                        <input type="number" name="accountPages" min="0" value="" id="accountPages" class="pull-right" style="width: 100%;text-align: right" autocomplete="off"/>
                    </div>

                </div>
                <div class="modal-footer" style="margin: 90px 0px 0px;">
                    <a class="btn btn-primary" id="accountConfirm">Bestätigen</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                </div>
            </div>

        </div>
    </div>

    <div id="deleteModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static"
         data-keyboard="false"
         data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-trash"></i> Account löschen</h3>
                </div>
                <div class="modal-body">
                    <p>Möchten Sie diesen Account wirklich löschen?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" id="deleteConfirm" data-dismiss="modal">Bestätigen</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                </div>
            </div>

        </div>
    </div>

    <div id="addModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static"
         data-keyboard="false"
         data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-plus"></i> Account anlegen</h3>
                </div>
                <div class="modal-body">
                    <p>
                        <label for="accountUser">Username des neuen Accounts:</label>
                        <input type="text" id="accountUser" value="" class="pull-right"/>
                    </p>
                    <p>
                        <label for="accountName">Name des neuen Accounts:</label>
                        <input type="text" id="accountName" value="" class="pull-right"/>
                    </p>
                    <p>
                        <label for="accountMail">E-Mail des neuen Accounts:</label>
                        <input type="text" id="accountMail" value="" class="pull-right"/>
                    </p>
                    <p>
                        <label for="accountMaxPages">Fanpages des neuen Accounts:</label>
                        <input type="number" id="accountMaxPages" min="0" class="pull-right" style="text-align: right;" autocomplete="off"/>
                    </p>
                    <p>
                        <label for="accountMaxSearches">Suchaufträge des neuen Accounts:</label>
                        <input type="number" id="accountMaxSearches" min="0" class="pull-right" style="text-align: right;" autocomplete="off"/>
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" id="addConfirm">Bestätigen</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                </div>
            </div>

        </div>
    </div>



{% endblock %}

{% block javascript %}

    <script>

        $(function () {

            $('.bulk').click(function () {
                if ($('.bulk:checked').length == 0) {
                    $('#limitBtn').prop('disabled', true)
                    $('#deleteBtn').prop('disabled', true)

                } else {
                    $("#limitBtn").removeAttr('disabled');
                    $("#deleteBtn").removeAttr('disabled');

                }

                var searches = $('.bulk:checked').parent().parent().children('td:nth-of-type(4)').text();
                var pages = $('.bulk:checked').parent().parent().children('td:nth-of-type(5)').text();

                $('#accountPages').val(parseInt(pages.trim()));
                $('#accountSearches').val(parseInt(searches.trim()));

            });
        });

        $('.bulk').change(function () {
            $('.bulk').not(this).prop('checked', false);
        });


        $(function () {

                $('#accountConfirm').click(function () {

                    var accountID = $('.bulk:checked').val();

                    var searches = parseInt($('#accountSearches').val().trim());
                    var pages = parseInt($('#accountPages').val().trim());

                    $.ajax({
                        type: "POST",
                        url: Routing.generate('updateLimit'),

                        data: {
                            'accID': accountID,
                            'accPages': pages,
                            'accSearches': searches
                        },

                        success: function (response) {
                            console.log(response)
                            if (response.status === 'ok') {
                                toastr.success("Änderungen erfolgreich gespeichert.");
                               window.location.reload();
                            }
                            else if (response.limitPages) {
                                toastr.error("Sie können maximal noch " + response.limitPages + " Fanpages verteilen.")
                            }
                            else if (response.limitSearches) {
                                toastr.error("Sie können maximal noch " + response.limitSearches + " Suchaufträge verteilen.")
                            }
                            else if (response.limit === 'a') {
                                toastr.error("Sie können maximal noch " + response.limitAccounts + " Accounts anlegen.")
                            }
                            else if (response.searchesAvail) {
                                toastr.error("Der Account liegt " + response.searchesAvail + " Suchaufträge über dem neuen Limit.")
                            }
                            else if (response.pagesAvail) {
                                toastr.error("Der Account liegt  " + response.pagesAvail + " Suchaufträge über dem neuen Limit.")
                            }
                            else if (response.status === 'error2') {
                                toastr.error("Fehlerhafte Eingabe im Feld Fanpages.");
                            }
                            else if (response.status === 'error3') {
                                toastr.error("Fehlerhafte Eingabe im Feld Suchaufträge.");
                            }
                            else {
                                toastr.error("Es ist ein Fehler aufgetreten.");
                            }
                        },
                        error: function () {

                            toastr.error("Es ist ein unerwarteter Fehler aufgetreten.");
                        }
                    });

                });

        });
        $(function () {

            $('#deleteBtn').click(function () {

                var accountID = $('.bulk:checked').val();

                $('#deleteConfirm').click(function () {

                    $.ajax({
                        type: "POST",
                        url: Routing.generate('deleteAccount'),

                        data: {
                            'accID': accountID
                        },
                        success: function (response) {
                            console.log(response)
                            if (response.status === 'ok') {

                                toastr.success("Account gelöscht.");
                                window.location.reload();
                            } else if (response.status === 'user') {
                                toastr.error("Account nicht gefunden.");
                            } else {
                                toastr.error("Es ist ein Fehler aufgetreten.");
                            }
                        },
                        error: function () {
                            toastr.error("Es ist ein unerwarteter Fehler aufgetreten.");
                        }
                    });
                });
            });
        });


        $(function () {

                $('#addConfirm').click(function () {

                    $.ajax({
                        type: "POST",
                        url: Routing.generate('addAccount'),
                        data: {
                            'accUser': $('#accountUser').val(),
                            'accName': $('#accountName').val(),
                            'accMail': $('#accountMail').val(),
                            'accPages': parseInt($('#accountMaxPages').val().trim()),
                            'accSearches': parseInt($('#accountMaxSearches').val().trim())
                        },

                        success: function (response) {
                            console.log(response)
                            if (response.status === 'ok') {

                                toastr.success("Account erfolgreich angelegt.");

                                $('#accountUser').val('');
                                $('#accountName').val('');
                                $('#accountMail').val('');
                                $('#accountMaxPages').val('');
                                $('#accountMaxSearches').val('');
                                window.location.reload();

                            }
                            else if (response.status === 'userExists') {
                                toastr.error("Dieser Username ist bereits vergeben.");
                            }
                            else if (response.status === 'userMiss') {
                                toastr.error("Bitte Username eingeben.");
                            }
                            else if (response.status === 'userShort') {
                                toastr.error("Der Username muss mindestens 3 Zeichen lang sein.");
                            }
                            else if (response.status === 'nameMiss') {
                                toastr.error("Bitte Name eingeben.");
                            }
                            else if (response.status === 'nameShort') {
                                toastr.error("Der Name muss mindestens 3 Zeichen lang sein.");
                            }
                            else if (response.status === 'mailMiss') {
                                toastr.error("Bitte E-Mail-Adresse eingeben.");
                            }
                            else if (response.status === 'mailFalse') {
                                toastr.error("Bitte gültige E-Mail-Adresse eingeben.");
                            }
                            else if (response.status === 'mailThere') {
                                toastr.error("Diese E-Mail-Adresse ist bereits im System hinterlegt.");
                            }
                            else if (response.status === 'hardLimit') {
                                toastr.error("Sie haben momentan zu viele Fanpages verteilt, um einen neuen Account anzulegen.");
                            }
                            else if (response.limitPages) {
                             toastr.error("Sie können maximal noch " + response.limitPages + " Fanpages verteilen.")
                            }
                            else if (response.limitSearches) {
                             toastr.error("Sie können maximal noch " + response.limitSearches + " Suchaufträge verteilen.")
                            }
                            else if (response.status === 'accounts') {
                             toastr.error("Sie können keine weiteren Accounts anlegen.")
                            }
                            else {
                                toastr.error("Es ist ein Fehler aufgetreten.");
                            }
                        },
                        error: function () {
                            toastr.error("Es ist ein unerwarteter Fehler aufgetreten.");
                        }
                    });

                });
                });



    </script>

{% endblock %}
