{% extends 'base.html.twig' %}


{% block body %}

    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title" style="width: 100%">
            <h1>Einstellungen</h1>
        </div>
        <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ path('homepage') }}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">Einstellungen</a>
            <i class="fa fa-cogs"></i>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->

    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PROFILE SIDEBAR -->
            <div class="profile-sidebar">
                <!-- PORTLET MAIN -->
                <div class="portlet light profile-sidebar-portlet bordered">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="{{ app.user.avatar(1024) }}" class="userimage img-responsive" alt=""></div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle margin-bottom-10">
                        <div class="profile-usertitle-name username"> {{ app.user.fullname }} </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                </div>
                <!-- END PORTLET MAIN -->
            </div>
            <!-- END BEGIN PROFILE SIDEBAR -->
            <!-- BEGIN PROFILE CONTENT -->
            <div class="profile-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light bordered">
                            <div class="portlet-title tabbable-line">
                                <div class="caption caption-md">
                                    <i class="icon-globe theme-font hide"></i>
                                    <span class="caption-subject font-blue-madison bold uppercase">Benutzerkonto</span>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#tab_1_1" data-toggle="tab">Persönliche Angaben</a>
                                    </li>
                                    <li>
                                        <a href="#tab_1_2" data-toggle="tab">Passwort ändern</a>
                                    </li>
                                    <li>
                                        <a href="#tab_1_3" data-toggle="tab">Sucheinstellungen</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <!-- PERSONAL INFO TAB -->
                                    <div class="tab-pane active" id="tab_1_1">
                                        <p class="alert alert-info">
                                            Um Ihr Profilbild zu aktualisieren, können Sie <a href="//gravatar.com">Gravatar</a>
                                            verwenden.
                                        </p>
                                        <form role="form" action="#" onsubmit="return false;">
                                            <div class="form-group">
                                                <label class="control-label">Name</label>
                                                <input id="name" type="text" placeholder="{{ app.user.fullname }}"
                                                       class="form-control"/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">E-Mail</label>
                                                <input id="email" type="email" placeholder="{{ app.user.email }}"
                                                       class="form-control"/>
                                            </div>
                                            <div class="margiv-top-10">
                                                <button id="saveProfile" class="btn green">Speichern</button>
                                                <button id="cancelProfile" class="btn default"> Abbrechen</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- END PERSONAL INFO TAB -->
                                    <!-- CHANGE PASSWORD TAB -->
                                    <div class="tab-pane" id="tab_1_2">
                                        <form action="#" onsubmit="return false;">
                                            <div class="form-group">
                                                <label class="control-label">Aktuelles Passwort</label>
                                                <input type="password" id="password" class="form-control"/></div>
                                            <div class="form-group">
                                                <label class="control-label">Neues Passwort</label>
                                                <input type="password" id="password_new" class="form-control"/></div>
                                            <div class="form-group">
                                                <label class="control-label">Neues Passwort wiederholen</label>
                                                <input type="password" id="password_new_repeat" class="form-control"/>
                                            </div>
                                            <div class="margin-top-10">
                                                <button id="save_password" class="btn green">Passwort ändern</button>
                                                <button id="cancel_password" class="btn default"> Abbrechen</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- END CHANGE PASSWORD TAB -->
                                    <!-- SEARCH SETTINGS TAB -->
                                    <div class="tab-pane" id="tab_1_3">
                                        <form action="#" onsubmit="return false;">
                                            <div class="form-group">
                                                <label class="control-label">Angezeigte Ergebnisse pro Seite</label>
                                                <br/>
                                                <select class="bs-select form-control" id="max_pagination">
                                                    <option value="20" {% if page_helper.getMaxPagination(app.user) == 20 %}selected{% endif %}>20</option>
                                                    <option value="50" {% if page_helper.getMaxPagination(app.user) == 50 %}selected{% endif %}>50</option>
                                                    <option value="100" {% if page_helper.getMaxPagination(app.user) == 100 %}selected{% endif %}>100</option>
                                                </select>
                                            </div>
                                            <br/>

                                            <div class="form-group">
                                                <label class="control-label">Ländereinstellungen</label>
                                                {{ page_helper.countrySelect("countries", app.user.searchCountries)|raw }}
                                            </div>
                                            <div class="form-group-sm">
                                                <input {% if app.user.useResultsWithoutCountry %}checked="checked"{% endif %}
                                                       type="checkbox" id="save_country_less_results"/>
                                                <label class="control-label" for="save_country_less_results">Suchergebnisse
                                                    ohne Länderkennung berücksichtigen</label>
                                            </div>
                                            <div class="margin-top-10">
                                                <button id="save_search_settings" class="btn green">Speichern</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- END SEARCH SETTINGS TAB -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PROFILE CONTENT -->
{% endblock %}
 {% block javascript %}
     <script src="{{ asset('assets/js/md5.js') }}"></script>
     <script>
         $(function () {

             $('#countries').select2();

             $('#save_search_settings').click(function () {
                 blockPage("Bitte warten...");
                 $.ajax({
                     url: Routing.generate("app_user_savesearchsettings"),
                     data: {
                         'countries': $('#countries').val(),
                         'save_country_less_results': $('#save_country_less_results').prop('checked'),
                         'max_pagination': $('#max_pagination').val()
                     },
                     type: 'post',
                     success: function () {
                         toastr.success("Einstellungen wurden gespeichert.");
                         unblockPage();
                     }
                 })
             });

             $('#cancelProfile').click(function () {
                 $('#name').val("");
                 $('#email').val("");
             });

             $('#saveProfile').click(function () {
                 blockPage("Bitte warten...");

                 if ($('#name').val() !== "") {
                     name = $('#name').val();
                 }
                 else {
                     name = $('#name').attr('placeholder')
                 }

                 if ($('#email').val() !== "") {
                     email = $('#email').val();
                 } else {
                     email = $('#email').attr('placeholder')
                 }

                 $.ajax({
                     url: Routing.generate("app_user_updateuserprofile"),
                     data: {
                         'fullname': name,
                         'email': email
                     },
                     type: 'post',
                     success: function () {
                         $('#name').attr('placeholder', name);
                         $('#email').attr('placeholder', email);
                         $('#cancelProfile').click();
                         toastr.success("Ihre Daten wurden aktualisiert.");
                         $('.username').text(name);
                         $('.userimage').attr('src', getGravatar(email, 1024));
                         unblockPage()
                     },
                     error: function () {
                         toastr.error("Bei der Aktualsierung ist ein Fehler aufgetreten. Die von Ihnen eingegebene E-Mail wird bereits von einem anderen Benutzer verwendet.");
                         unblockPage()
                     }
                 });
             });

             $('#cancel_password').click(function () {
                 $('#password').val("");
                 $('#password_new').val("");
                 $('#password_new_repeat').val("");
             });
             $('#save_password').click(function () {
                 blockPage("Bitte warten...");

                 $.ajax({
                     url: Routing.generate("app_user_changepassword"),
                     data: {
                         'password': $('#password').val(),
                         'password_new': $('#password_new').val(),
                         'password_new_repeat': $('#password_new_repeat').val()
                     },
                     type: 'post',
                     success: function (response) {
                         if (response.hasOwnProperty("error")) {
                             toastr.error(response.error)
                         } else {
                             toastr.success("Ihr Passwort wurde erfolgreich aktualisiert.");
                             $('#cancel_password').click()
                         }
                         unblockPage();
                     }
                 });

                 setTimeout(function () {
                     unblockPage()
                 }, 2000);
             })
         })
     </script>
 {% endblock %}
