{% extends 'base.html.twig' %}


{% block style %}
{{ parent() }}

    <style type="text/css">

        th:nth-of-type(9),
        tr td:nth-of-type(9) {
            text-align: center !important;
        }

    </style>


{% endblock %}


{% block body %}

    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>Archiv</h1>
        </div>
        <!-- END PAGE TITLE -->

    </div>

    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ path('homepage') }}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{{ path('app_page_index') }}">Fanpages</a>
            <i class="fa fa-globe"></i>
        </li>
        <li>
        <span style="color:#697882;">Archiv</span>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->

    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PORTLET-->
            <div class="dashboard-stat2 bordered dashboard-stat-fix"  {% if pagination is not defined or pagination|length == 0 %}style="height: 85px;"{% endif %}>

                    {% if pagination is defined and pagination|length > 0 %}
                <div class="alert alert-info col-md-12">
                    <div class="col-md-6">
                        <i class="icon-info"></i> Archivierte Fanpages werden nicht aktualisiert.
                    </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">
                    <button id="renewBtn" class="btn btn-success" style="margin-top: -5px;" title="Archiv löschen" data-toggle="modal" data-target="#RenewAllModal">
                            Alle wiederherstellen
                    </button>
                    <button id="deleteBtn" class="btn btn-danger" style="margin-top: -5px;" title="Archiv löschen" data-toggle="modal" data-target="#DeleteAllModal">
                            Alle löschen
                    </button>
                            </div>
                        </div>
                </div>
                    {% else %}
                           <div class="alert alert-info">
                        <i class="icon-info"></i> Sie haben keine Fanpages archiviert.
                           </div>
                    {% endif %}

                {% if pagination is defined %}
                {% if pagination.getTotalItemCount > 0 %}
                <div class="text-center">
                    {{ knp_pagination_render(pagination) }}
                </div>


                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                    <tr>
                        <th> {{ knp_pagination_sortable(pagination, 'Name', 'p.name') }}</th>
                        <th class="numeric">  {{ knp_pagination_sortable(pagination, 'Likes', 'p.fanCount') }}</th>
                        <th class="numeric">  {{ knp_pagination_sortable(pagination, 'Kategorie', 'p.category') }}</th>
                        <th class="numeric"> Adresse</th>
                        <th class="numeric"> Telefon</th>
                        <th class="numeric"> {{ knp_pagination_sortable(pagination, 'Erfasst am', 'p.scrapeDate') }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for page in pagination %}
                        <tr>
                            <td>
                                <a data-page-link href="{{ path('app_page_show',{'id':page.id}) }}">{{ page.name }}</a>
                            </td>
                            <td>
                                {{ page.fanCount|number_format(0,',','.') }}
                            </td>
                            <td>
                                {% if page.category %}
                                    {{ page.category }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>

                            <td>

                                {% if page.street %}
                                    {{ page.street }}<br/>
                                {% endif %}
                                {% if page.zip %}{{ page.zip }}{% endif %}
                                {% if page.city %}{{ page.city }}{% endif %}<br/>
                                {% if page.country %}
                                    {{ page.country }}
                                {% endif %}
                            </td>
                            <td>
                                {% if page.phone %}
                                    <a href="tel:{{ page.phone }}" target="_blank">{{ page.phone }}</a>
                                {% else %}
                                 -
                                {% endif %}
                            </td>
                            <td>
                                {{ page.scrapeDate|date("d.m.Y H:i") }}
                            </td>
                            <td class="text-right" style="width: 80px;">
                                <div class="btn-group btn-group-xs">
                                    <a href="{{ path('app_page_show',{'id':page.id}) }}" title="Ansehen"
                                       class="btn btn-xs blue-hoki">
                                        <i class="fa fa-eye"></i>
                                    </a>

                                    <a class="btn btn-xs green-haze confirmReactivate" title="Wiederherstellen"
                                       href=" {{ path('app_page_toggledisabledstate',{'id':page.id}) }}">
                                        <i class="fa fa-refresh"></i>
                                    </a>

                                    <button class="btn btn-xs red-mint confirmDelete" title="Löschen"
                                       data-delete-id=" {{page.id}}">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <div class="text-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>


    <div id="ReactivateModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false" data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-plus"></i> Wiederherstellen best&auml;tigen</h3>
                </div>
                <div class="modal-body">
                    <p>Möchten Sie die Fanpage: <strong></strong>
                        wiederherstellen?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success" id="ReactivateBtn"  data-dismiss="modal">Wiederherstellen</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                </div>
            </div>
        </div>
    </div>


    <div id="DeleteModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false" data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-times"></i> Löschen best&auml;tigen</h3>
                </div>
                <div class="modal-body">
                    <p>Möchten Sie die Fanpage: <strong></strong>
                        wirklich löschen?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" id="DeleteBtn"  data-dismiss="modal">Löschen</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                </div>
            </div>
        </div>
    </div>

    <div id="DeleteAllModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false" data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-times"></i> Löschen best&auml;tigen</h3>
                </div>
                <div class="modal-body">
                    <p>Möchten Sie wirklich alle Fanpages löschen?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" id="DeleteAllBtn"  data-dismiss="modal">Löschen</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                </div>
            </div>
        </div>
    </div>
    <div id="RenewAllModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false" data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-refresh"></i> Wiederherstellen best&auml;tigen</h3>
                </div>
                <div class="modal-body">
                    <p>Möchten Sie wirklich alle Fanpages wiederherstellen?</p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success" id="RenewAllBtn" data-dismiss="modal">Wiederherstellen</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block javascript %}

    <script>

        $(function() {

            $('.confirmReactivate').click(function (e) {

                toggleByID = $(this);
                SearchName = $(this).closest('tr').children('td').first().children('a').first().text();

                e.preventDefault();

                $('#ReactivateModal').modal('show');
                $('#ReactivateModal').find('.modal-body').find('p').find('strong').text(SearchName);

                $('#ReactivateBtn').off('click').click(function (e) {

                    e.preventDefault();

                    window.location = toggleByID.attr('href');

                    $('#ReactivateModal').modal('hide');
                });

            });
        });

        $(function () {

            $('#RenewAllBtn').click(function () {

                $.ajax({
                    type: "POST",
                    url: Routing.generate('app_page_enable'),
                    success: function (response) {
                        if (response.status === 'ok') {
                            toastr.success("Wiederhergestellt.");
                            window.location.reload();
                        } else {
                            toastr.error("Es ist ein Fehler aufgetreten.");
                        }
                    },
                    error: function () {
                        toastr.error("Es ist ein unerwarteter Fehler aufgetreten.");
                    }
                });
        });


            $(document).on('click', '[data-delete-id]', function (e) {
                row = $(this);
                SearchName = $(this).closest('tr').children('td').first().children('a').first().text();

                e.preventDefault();

                $('#DeleteModal').modal('show');
                $('#DeleteModal').find('.modal-body').find('p').find('strong').text(SearchName);

                $('#DeleteBtn').off('click').click(function (e) {

                    e.preventDefault();

                            $.ajax({
                                url: Routing.generate('app_search_deletepage', {'id': row.data('delete-id')}),
                                success: function (response) {
                                    console.log(response)
                                    window.location.reload()
                                    if (response.status === 'ok') {

                                        row.parent().parent().parent().remove();

                                        if ($('#searchTermTable').children().length === 0) {
                                            $('#searchTermTable').html('<tr><td colspan="4" id="noSearchItemColumn" class="text-center">' +
                                                '<p>Sie haben keine Fanpages gespeichert.</p></td></tr>');
                                        }
                                    }
                                }
                            });
                    $('#DeleteModal').modal('hide');
                });
            });

                $('#DeleteAllBtn').off('click').click(function (e) {

                    window.location.href =  Routing.generate('app_page_deletearchive');

                    $('#DeleteAllModal').modal('hide');
                });
                });





    </script>

{% endblock %}