{% extends 'base.html.twig' %}



{% block style %}
    {{ parent() }}

    <style type="text/css">

        th:nth-of-type(1),
        tr td:nth-of-type(1),
        th:nth-of-type(9),
        tr td:nth-of-type(9) {
            text-align: center !important;
        }

        body > div.page-container > div.page-content-wrapper > div > div:nth-child(3) > div > div > form > div > div:nth-child(3) > div > div > a {
            -webkit-border-radius: 4px !important;
            -moz-border-radius: 4px !important;
            border-radius: 4px !important;
        }

       .btn-outline {
            border: none !important;
        }


    </style>

{% endblock %}

{% block body %}

    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="col-md-12 col-xs-12">
            <div class="page-title">
                <h1>&Uuml;bersicht</h1>

            </div>
        </div>
        <!-- END PAGE TITLE -->


    </div>

    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE BREADCRUMB -->
    <div class="col-md-10 col-xs-12">
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="{{ path('homepage') }}">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            {% if filterCount is not defined %}
                <li>
                    <span style="color:#697882;">Fanpages</span>
                    <i class="fa fa-globe"></i>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('app_page_index') }}">Fanpages</a>
                    <i class="fa fa-globe"></i>
                </li>
            {% endif %}

        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="dashboard-stat2 bordered dashboard-stat-fix">
                <form class="search-form" action="{{ path('app_page_index') }}" method="GET">

                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" placeholder="Fanpages durchsuchen..."
                                       name="s" id="searchInput"
                                       {% if filterTerm is defined %}value="{{ filterTerm }}"{% endif %}>
                                <span class="input-group-btn">
                                <button class="btn btn-sm blue">
                                    <i class="icon-magnifier"></i>
                                </button>
                        </span>
                            </div>

                            <div class="text-primary col-md-12" style="margin-top: 12px;margin-left: -15px;">


                                <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse"
                                        data-target=".filter">Erweiterte Suche <i class="fa fa-angle-down"></i>
                                </button>

                            </div>


                            <div class="col-md-6 filter collapse">

                                <p class=" text-primary">In folgenden Feldern suchen:</p>

                                <label class="switch">
                                    <input type="checkbox" id="checkAll" checked>
                                    <span class="slider round"></span>
                                    <span class="sliderName">Alle Felder</span>
                                </label>
                                <br/>
                                <label class="switch">
                                    <input type="checkbox" class="btn btn-primary check"
                                           name="field_name" value="1"
                                           id="field_name"
                                           {% if filter_name is not defined %}checked{% endif %}
                                            {% if filter_name is defined and filter_name == 1 %}checked{% endif %}/>
                                    <span class="slider round"></span>
                                    <span class="sliderName">Name</span>

                                </label>


                                <br/>
                                <label class="switch">
                                    <input type="checkbox" class="btn btn-primary check"
                                           name="field_cat"
                                           value="1" id="field_category"
                                           {% if filter_category is not defined %}checked{% endif %}
                                            {% if filter_category is defined and filter_category == 1 %}checked{% endif %}/>
                                    <span class="slider round"></span>
                                    <span class="sliderName">Kategorie</span>

                                </label>
                                <br/>
                                <label class="switch">
                                    <input type="checkbox" class="btn btn-primary check"
                                           name="field_adr"
                                           value="1" id="field_adress"
                                           {% if filter_adress is not defined %}checked{% endif %}
                                            {% if filter_adress is defined and filter_adress == 1 %}checked{% endif %}/>
                                    <span class="slider round"></span>
                                    <span class="sliderName">Ort</span>
                                </label>

                                <br/>
                                <label class="switch">
                                    <input type="checkbox" class="btn btn-primary check"
                                           name="field_about" value="1"
                                           id="field_about"
                                           {% if filter_about is not defined %}checked{% endif %}
                                            {% if filter_about is defined and filter_about == 1 %}checked{% endif %}/>
                                    <span class="slider round"></span>
                                    <span class="sliderName">Über diese Seite</span>
                                </label>
                                <br/>
                                <label class="switch">
                                    <input type="checkbox" class="btn btn-primary check"
                                           name="field_descr"
                                           value="1" id="field_description"
                                           {% if filter_description is not defined %}checked{% endif %}
                                            {% if filter_description is defined and filter_description == 1 %}checked{% endif %}/>
                                    <span class="slider round"></span>
                                    <span class="sliderName">Beschreibung</span>
                                </label>
                                <br/>
                                <label class="switch">
                                    <input type="checkbox" class="btn btn-primary check"
                                           name="field_impr"
                                           value="1" id="field_impressum"
                                           {% if filter_impressum is not defined %}checked{% endif %}
                                            {% if filter_impressum is defined and filter_impressum == 1 %}checked{% endif %}/>
                                    <span class="slider round"></span>
                                    <span class="sliderName">Impressum</span>
                                </label>

                            </div>


                            <div class="col-md-6 collapse filter text-primary">

                                <p>In folgender Liste suchen:</p>
                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-list-alt"></i>
                                                    </span>
                                    <select id="listSelect" class="form-control" name="pList">
                                        {% if lists is defined %}
                                            {% if filterList is defined and filterList is not null %}
                                                <option selected
                                                        value="{{ filterList.id }}">{{ filterList.name }}</option>
                                                <option value="null" id="listNull">Alle</option>
                                            {% else %}
                                                <option value="null" id="listNull">Alle</option>
                                            {% endif %}

                                            {% for list in lists %}
                                                <option value="{{ list.id }}">{{ list.name }}</option>
                                            {% endfor %}
                                            {% if lists|length == 0 %}
                                                <option value="false">Es wurden keine Listen angelegt.</option>
                                            {% endif %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-6 collapse filter text-primary">

                                <p>In folgendem Suchauftrag suchen:</p>
                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-list-alt"></i>
                                                    </span>
                                    <select id="listSelect" class="form-control" name="pSearch">
                                        {% if searches is defined %}
                                            {% if filterSearch is defined and filterSearch is not null %}
                                                <option selected
                                                        value="{{ filterSearch.id }}">{{ filterSearch.term }}</option>
                                                <option value="null" id="list2Null">Alle</option>
                                            {% else %}
                                                <option value="null" id="list2Null">Alle</option>
                                            {% endif %}


                                            {% for search in searches %}
                                                <option value="{{ search.id }}">{{ search.term }}</option>
                                            {% endfor %}
                                            {% if searches|length == 0 %}
                                                <option value="false">Es wurden keine Suchaufträge angelegt.</option>
                                            {% endif %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 collapse filter text-primary" style="margin-top: 30px;">
                                <div class="alert alert-info"><i class="icon-info"></i>
                                    Kennzeichnen Sie Begriffe, die Sie ausschließen möchten mit einem vorangestellten
                                    Minus.
                                </div>
                            </div>
                        </div>

                </form>

                {% if filterCount is defined and filterCount > 0 %}

                    <div class="col-md-4 col-xs-12 text-center text-primary">
                        <div class="col-md-12">


                            {% if pagination.getTotalItemCount > 1 %}
                                <h3 style="margin-top: 0">{{ pagination.getTotalItemCount }}
                                    Treffer {% if filterTerm|length > 0 %} für "{{ filterTerm }}"{% endif %}</h3>
                                {% if filterSearch %}
                                <h4>im Suchauftrag "{{ filterSearch.term }}"</h4>
                                {% endif %}


                            {% else %}
                                <h3 style="margin-top: 0">Leider keine Treffer {% if filterTerm|length > 0 %} für "{{ filterTerm }}"{% endif %}</h3>
                            {% if filterSearch|length > 0 %}<h4>im Suchauftrag "{{ filterSearch.term }}"</h4>{% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if filterCount is defined and filterCount == 0 %}
                    <div class="col-md-4 col-xs-12 text-center text-primary">
                        <div class="col-md-12">
                            <h3 style="margin-top: 0">Leider keine Treffer{% if filterTerm|length > 0 %} für "{{ filterTerm }}"{% endif %}</h3>
                        </div>
                    </div>
                {% endif %}
                {% if filterCount is not defined %}
                    <div class="col-md-4 col-xs-12 text-center text-primary">
                        <div class="col-md-12">
                            <h3 style="margin-top: 0;">{{ pagination.getTotalItemCount }} Fanpage{% if pagination.getTotalItemCount != 1 %}s{% endif %} in der Datenbank</h3>
                        </div>
                    </div>
                {% endif %}


                <div class="col-md-4 col-xs-12">
                    <div class="actions" id="workOnSome" hidden>
                        <div class="btn-group pull-right">
                            <a class="btn btn-primary btn-outline btn-md" href="javascript:;" data-toggle="dropdown"
                               data-hover="dropdown" data-close-others="true" aria-expanded="false" id="bulkCount" {% if count is defined %}{% if count == 0 %}disabled{% endif %}{% endif %}>
                                Alle Fanpages bearbeiten <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right" style="text-align: center">
                                <li>
                                    <button type="button" style="margin-top: 10px;width: 100%;"
                                                     id="toListBtn" class="btn blue btn-outline"
                                            data-toggle="modal" data-target="#listModal">
                                        In Liste übernehmen
                                    </button>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <button type="button" class="btn red btn-outline"
                                            id="archivBtn" style="width: 100%;"
                                            data-toggle="modal" data-target="#ArchivModal">
                                        Fanpages archivieren
                                    </button>
                                </li>
                                <li class="divider"></li>
                                <li>

                                    <button type="button" style="margin-bottom: 10px; width: 100%" class="btn red btn-outline"
                                            id="deleteBtn"
                                            data-toggle="modal" data-target="#DeleteModal">
                                        Fanpages entfernen
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="actions" id="workOnAll">
                        <div class="btn-group pull-right">
                            <a class="btn btn-primary btn-outline btn-md" href="javascript:;" data-toggle="dropdown"
                               data-hover="dropdown" data-close-others="true" aria-expanded="false">
                                Alle Fanpages bearbeiten <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right" style="text-align: center">
                                <li>
                                    <button type="button" style="margin-top: 10px;width:100%;" class="btn blue btn-outline"
                                            data-toggle="modal" data-target="#listAllModal" id="SearchToListBtn" {% if pagination is defined %}{% if pagination|length < 1 %}disabled{% endif %}{% endif %}>
                                        Alle in Liste übernehmen
                                    </button>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <button type="button" class="btn red btn-outline" style="width:100%;"
                                            data-toggle="modal" data-target="#ArchivAllModal" {% if pagination is defined %}{% if pagination|length < 1 %}disabled{% endif %}{% endif %}>
                                        Alle Fanpages archivieren
                                    </button>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <button type="button" style="margin-bottom: 10px;width:100%;" class="btn red btn-outline"
                                            data-toggle="modal" data-target="#DeleteAllModal" {% if pagination is defined %}{% if pagination|length < 1 %}disabled{% endif %}{% endif %}>
                                        Alle Fanpages entfernen
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>

    {% if filterCount is not defined or filterCount != 0 %}
        {% if pagination|length > 0 %}
        <div class="row">
            <div class="col-md-12">
                <div class="dashboard-stat2 bordered dashboard-stat-fix">
                    <div class="text-center">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                        <tr>
                            <th><input type="checkbox" id="bulkAll" title="Alle auswählen"/></th>
                            <th> {{ knp_pagination_sortable(pagination, 'Name', 'p.name') }}</th>
                            <th class="numeric">  {{ knp_pagination_sortable(pagination, 'Likes', 'p.fanCount') }}</th>
                            <th class="numeric"> {{ knp_pagination_sortable(pagination, 'Interaktionsrate', 'p.interactionrate') }}</th>
                            <th class="numeric">  {{ knp_pagination_sortable(pagination, 'Kategorie', 'p.category') }}</th>
                            <th class="numeric"> Adresse</th>
                            <th class="numeric"> Telefon</th>
                            <th class="numeric"> {{ knp_pagination_sortable(pagination, 'Letztes Update', 'p.scrapeDate') }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for page in pagination %}
                            <tr>
                                <td>
                                    <input type="checkbox" class="bulk" value="{{ page.id }}" title="Auswählen"/>
                                </td>
                                <td>
                                    <a data-page-link
                                       href="{{ path('app_page_show',{'id':page.id}) }}">{{ page.name }}</a>
                                </td>
                                <td class="text-right">
                                    {{ page.fanCount|number_format(0,',','.') }}
                                </td>
                                <td class="text-right">
                                    {% if page.interactionrate %}
                                        {{ page.interactionrate|number_format(2,',','.') }} %
                                    {% else %}
                                        -
                                    {% endif %} &nbsp;
                                </td>
                                <td>
                                    {% if page.category %}
                                        {{ page.category }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>

                                    {% if page.street %}
                                        {{ page.street }}<br/>
                                    {% endif %}
                                    {% if page.zip %}{{ page.zip }}{% endif %}
                                    {% if page.city %}{{ page.city }}{% endif %}<br/>
                                    {% if page.country %}
                                        {{ page.country }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if page.phone %}
                                        <a href="tel:{{ page.phone }}" target="_blank">{{ page.phone }}</a>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {{ page.scrapeDate|date("d.m.Y H:i") }}
                                </td>
                                <td style="width: 3%;">
                                    <a href="{{ path('app_page_show',{'id':page.id}) }}" title="Ansehen"
                                       class="btn btn-xs green-jungle">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    <div class="text-center">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>

            </div>
        </div>
    {% endif %}
    {% endif %}

    <!-- Modals -->
        <div id="DeleteAllModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false"
             data-attention-animation="false" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title"><i class="fa fa-trash"></i> Alle Fanpages entfernen</h3>
                    </div>
                    <div class="modal-body">
                        <p>Möchten Sie wirklich alle Fanpages
                            löschen?<br/>
                            <small>Gelöschte Fanpages werden in der Suche nicht mehr berücksichtigt.</small>
                        </p>

                    </div>
                    <div class="modal-footer">
                        {% if filterSearch is defined %}
                        {% if filterSearch|length > 0 %}
                            <a class="btn btn-danger"
                               href="{{ path('app_page_deleteSearch', { 'pSearch': filterSearch.id}) }}">Bestätigen</a>
                        {% else %}
                            <a class="btn btn-danger"
                               href="{{ path('app_page_deleteSearch', { 'pSearch': null }) }}">Bestätigen</a>
                        {% endif %}
                        {% else %}
                            <a class="btn btn-danger"
                               href="{{ path('app_page_deleteSearch', { 'pSearch': null }) }}">Bestätigen</a>
                        {% endif %}
                        <button type="button" class="btn btn-default" id="DismissBtn" data-dismiss="modal">Abbrechen
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div id="DeleteModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false"
             data-attention-animation="false" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title"><i class="fa fa-trash"></i> Fanpages entfernen</h3>
                    </div>
                    <div class="modal-body">
                        <p>Möchten Sie die ausgewählten Fanpages
                            wirklich löschen?<br/>
                            <small>Gelöschte Fanpages werden in der Suche nicht mehr berücksichtigt.</small>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="deleteConfirm" data-dismiss="modal">Bestätigen
                        </button>
                        <button type="button" class="btn btn-default" id="DismissBtn" data-dismiss="modal">Abbrechen
                        </button>
                    </div>
                </div>
            </div>
        </div>




<div id="ArchivAllModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false"
         data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-times-circle-o"></i> Alle Fanpages archivieren</h3>
                </div>
                <div class="modal-body">

                        <p>Möchten Sie wirklich alle Fanpages archivieren?<br/>
                            <small>Sie können die Fanpages im Archiv jederzeit wiederherstellen.</small>
                        </p>

                </div>
                <div class="modal-footer">
                    {% if filterSearch is defined %}
                    {% if filterSearch|length > 0 %}
                        {% if filterSearch|length > 0 %}
                            <a class="btn btn-danger"
                               href="{{ path('app_page_archiveSearch', { 'pSearch': filterSearch.id }) }}">Bestätigen</a>
                        {% else %}
                            <a class="btn btn-danger"
                               href="{{ path('app_page_archiveSearch', { 'pSearch': 'null' }) }}">Bestätigen</a>
                        {% endif %}
                    {% endif %}
                        {% else %}
                            <a class="btn btn-danger"
                               href="{{ path('app_page_archiveSearch', { 'pSearch': 'null' }) }}">Bestätigen</a>
                    {% endif %}
                        <button type="button" class="btn btn-default" id="DismissBtn" data-dismiss="modal">Abbrechen
                        </button>

                </div>
            </div>
        </div>
    </div>

    <div id="ArchivModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false"
         data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-times-circle-o"></i> Fanpages archivieren</h3>
                </div>
                <div class="modal-body">
                    <p>Möchten Sie die ausgewählten Fanpages wirklich archivieren?<br/>
                        <small>Sie können die Fanpages im Archiv jederzeit wiederherstellen.</small>
                    </p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-danger" id="archivConfirm" data-dismiss="modal">Bestätigen
                    </button>
                    <button type="button" class="btn btn-default" id="DismissBtn" data-dismiss="modal">Abbrechen
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div id="listAllModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false"
         data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-times-circle-o"></i>
                        Alle Fanpages in Liste übernehmen</h3>
                </div>
                <div class="modal-body">
                    <p>Möchten Sie wirklich alle Fanpages einer Liste hinzufügen?</p>
                        <div class="form-group" id="listGroup">
                            <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-list-alt"></i>
                                                    </span>
                                <select name="listSelect2" id="listSelectAll" class="form-control">
                                    {% if lists is not defined %}
                                        <option value="false">Sie haben noch keine Listen angelegt.</option>
                                    {% else %}
                                        {% for list in lists %}
                                            <option value="{{ list.id }}">{{ list.name }}</option>
                                        {% endfor %}
                                    {% endif %}

                                </select>
                            </div>
                            <small>Listen können Ihnen dabei helfen, Fanpages besser zu verwalten und zu
                                organisieren.
                            </small>
                        </div>
                </div>
                <div class="modal-footer">
                    {% if filterSearch is defined and filterSearch is not null %}
                        <input type="hidden" value="{{ filterSearch.id }}" id="filterSearchID"/>
                    {% if filterSearch|length > 0 %}
                        <button type="button" class="btn btn-primary" id="saveReallyAll" data-dismiss="modal">Übernehmen
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-primary" id="saveReallyAll" data-dismiss="modal">Übernehmen
                        </button>
                    {% endif %}
                    {% endif %}
                    <button type="button" class="btn btn-primary" id="saveReallyAll" data-dismiss="modal">Übernehmen
                    </button>
                    <button class="btn btn-default" id="listModalX" data-dismiss="modal">Abbrechen
                    </button>
                </div>
            </div>
        </div>
    </div>

        <div id="listModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false"
             data-attention-animation="false" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title"><i class="fa fa-times-circle-o"></i>
                            Fanpage{% if count is defined %}{% if count != 1 %}s{% endif %}{% endif %} übernehmen</h3>
                    </div>
                    <div class="modal-body">
                        <p>Möchten Sie die Fanpages einer Liste hinzufügen?</p>
                        {% if lists is defined %}
                            <div class="form-group" id="listGroup">
                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-list-alt"></i>
                                                    </span>
                                    <select name="listSelect2" id="listSelect2" class="form-control">
                                        {% if lists is not defined %}
                                            <option value="{{ list.id }}">Sie haben noch keine Listen angelegt.</option>
                                        {% else %}
                                            {% for list in lists %}
                                                <option value="{{ list.id }}">{{ list.name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                <small>Listen können Ihnen dabei helfen, Fanpages besser zu verwalten und zu
                                    organisieren.
                                </small>
                            </div>
                        {% else %}
                            <br/>
                            <div class="form-group" id="listGroup">
                                <label>
                                    Sie haben noch keine Listen angelegt
                                </label>
                                <br/>
                                <br/>
                                <small>Listen können Ihnen dabei helfen, Fanpages besser zu verwalten und zu
                                    organisieren.
                                </small>
                            </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        {% if lists|length == 0 %}
                            <button type="button" class="btn btn-primary" id="saveAll" disabled data-dismiss="modal">Übernehmen
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-primary" id="saveAll" data-dismiss="modal">Übernehmen
                            </button>
                        {% endif %}
                        <button class="btn btn-default" id="listModalX" data-dismiss="modal">Abbrechen
                        </button>
                    </div>
                </div>
            </div>
        </div>


    <input type="hidden" value="{{ page_helper.getMaxPagination(app.user) }}" id="maxPagination">

{% endblock %}

{% block javascript %}

    <script>

        $(function () {
            $("#checkAll").click(function () {
                $(".check").prop('checked', $(this).prop('checked'));
            });

            $(".check").click(function () {
                if ($("#checkAll").prop('checked')) {
                    $("#checkAll").removeAttr("checked");
                }
            });
        });

        $(function () {
            $("#bulkAll").click(function () {



                $(".bulk").prop('checked', $(this).prop('checked'));

                if ($('.bulk:checked').length == 0) {
                    //$("#toListBtn").prop("disabled", true);
                    //$("#deleteBtn").prop("disabled", true);
                    //$("#archivBtn").prop("disabled", true);

                    $("#workOnAll").show();
                    $("#workOnSome").hide();

                    var i = 0;

                    $('.bulk:checked').each(function () {
                        i++;
                    });

                    $('#bulkCount').html(i + ' Fanpages bearbeiten <i class=\"fa fa-angle-down\"><\/i>');

                } else {

                    //$("#toListBtn").removeAttr("disabled");
                    //$("#deleteBtn").removeAttr("disabled");
                    //$("#archivBtn").removeAttr("disabled");

                    $("#workOnAll").hide();
                    $("#workOnSome").show();

                    var i = 0;

                    $('.bulk:checked').each(function () {
                        i++;
                    });

                    $('#bulkCount').html(i + ' Fanpages bearbeiten <i class=\"fa fa-angle-down\"><\/i>');
                }

            });

            $(".bulk").click(function () {

                var i = 0;

                $('.bulk:checked').each(function () {
                    i++;
                });

                if ($('.bulk:checked').length == 1) {
                    $('#bulkCount').html(i + ' Fanpage bearbeiten <i class=\"fa fa-angle-down\"><\/i>');
                } else {
                    $('#bulkCount').html(i + ' Fanpages bearbeiten <i class=\"fa fa-angle-down\"><\/i>');
                }

                var maxPagination = $('#maxPagination').val();

                if ($('.bulk:checked').length < maxPagination) {
                    $("#bulkAll").prop("checked", false);
                }


                if ($('.bulk:checked').length == 1) {
                    $("#deleteBtn").html("Fanpage entfernen");
                    $("#archivBtn").html("Fanpage archivieren");

                } else {
                    $("#deleteBtn").html("Fanpages entfernen");
                    $("#archivBtn").html("Fanpages archivieren");
                }


                if (!$(this).prop('checked')) {

                    if ($('.bulk:checked').length == 0) {

                        $("#bulkAll").removeAttr("checked");

                        //$("#toListBtn").prop("disabled", true);
                        //$("#deleteBtn").prop("disabled", true);
                        //$("#archivBtn").prop("disabled", true);

                        $("#workOnAll").show();
                        $("#workOnSome").hide();

                    }

                } else {

                    $("#bulkAll").removeAttr("checked");

                    //$("#toListBtn").removeAttr("disabled");
                    //$("#deleteBtn").removeAttr("disabled");
                    //$("#archivBtn").removeAttr("disabled");


                    $("#workOnSome").show();
                    $("#workOnAll").hide();
                }
            });
        });


        $(function () {
            $('#toListBtn').off('click').click(function (e) {

                e.preventDefault();

                $('#saveAll').click(function () {

                    var pages = [];
                    var i = 0;

                    $('.bulk:checked').each(function () {
                        i++;
                        pages[i] = $(this).val();
                    });

                    if ($("#listSelect2").val() === "false") {

                        $.ajax({
                            type: "POST",
                            url: Routing.generate('app_page_tolist'),

                            data: {
                                'selected': pages
                            },

                            success: function (response) {
                                console.log(response)
                                if (response.status === 'ok') {


                                    toastr.success("Übernommen");
                                } else {
                                    toastr.error("Es ist ein Fehler aufgetreten");
                                }
                            },
                            error: function () {
                                toastr.error("Es ist ein unerwarteter Fehler aufgetreten");
                            }
                        });

                    } else {

                        var list_id = $("#listSelect2").val();

                        $.ajax({
                            type: "POST",
                            url: Routing.generate('app_page_tolist'),
                            data: {
                                'selected': pages,
                                'list': list_id
                            },

                            success: function (response) {
                                console.log(response)
                                if (response.status === 'ok') {
                                    $("#listModalX").trigger("click");
                                    toastr.success("In Liste übernommen");
                                } else {
                                    toastr.error("Es ist ein Fehler aufgetreten");
                                }
                            },
                            error: function () {
                                toastr.error("Es ist ein unerwarteter Fehler aufgetreten");
                            }
                        });
                        $("#listSelect2").prop('value', 'false');

                    }

                });

                $("#listModalX").click(function () {
                    $("#listSelect2").prop('value', 'false');
                });

            });
        });

        $(function () {
            $('#archivBtn').off('click').click(function (e) {

                e.preventDefault();

                $('#archivConfirm').click(function () {

                    var pages = [];
                    var i = 0;

                    $('.bulk:checked').each(function () {
                        i++;
                        pages[i] = $(this).val();
                    });

                    $.ajax({
                        type: "POST",
                        url: Routing.generate('app_page_toggledisabledstate'),
                        data: {
                            'selected': pages
                        },

                        success: function (response) {
                            console.log(response)
                            if (response.status === 'ok') {
                                window.location.reload();
                                toastr.success("Archiviert");
                            } else {
                                toastr.error("Es ist ein Fehler aufgetreten.");
                            }
                        },
                        error: function () {
                            toastr.error("Es ist ein unerwarteter Fehler aufgetreten.");
                        }
                    });

                });
            });

        });


        $(function () {
            $('#deleteBtn').click(function (e) {

                e.preventDefault();

                $('#deleteConfirm').click(function () {
                    var pages = [];
                    var i = 0;

                    $('.bulk:checked').each(function () {
                        i++;
                        pages[i] = $(this).val();
                    });

                    $.ajax({
                        type: 'Post',
                        url: Routing.generate('app_page_deletearchive'),
                        data: {
                            'selected': pages
                        },
                        success: function (response) {
                            console.log(response)
                            if (response.status === 'ok') {
                                window.location.reload();
                                toastr.success("Entfernt");
                            } else {
                                toastr.error("Es ist ein Fehler aufgetreten.");
                            }
                        },
                        error: function () {
                            toastr.error("Es ist ein unerwarteter Fehler aufgetreten.");
                        }

                    });
                });


            });
        });
        $(function() {

            $('#SearchToListBtn').click(function (e) {
                e.preventDefault();

                $('#saveReallyAll').click(function () {

                    var pList = $('#listSelectAll').val();
                    var pSearch = $('#filterSearchID').val();

                        $.ajax({
                            type: 'Post',
                            url: Routing.generate('app_page_searchToList'),
                            data: {
                                'pSearch': pSearch,
                                'pList': pList
                            },
                            success: function (response) {
                                console.log(response)
                                if (response.status === 'ok') {
                                    toastr.success("Hinzugefügt");

                                } else {
                                    toastr.error("Es ist ein Fehler aufgetreten.");
                                }
                                window.location.Routing.generate('app_list_showlist', {'id': pList});

                            },
                            error: function () {
                                toastr.error("Es ist ein unerwarteter Fehler aufgetreten.");
                            }

                        });
            });
        });
        });



    </script>



{% endblock %}
