{% extends 'base.html.twig' %}

{% block style %}
    {{ parent() }}

    <style type="text/css">

        th:nth-of-type(1),
        tr td:nth-of-type(1),
        th:nth-of-type(8),
        tr td:nth-of-type(8) {
            text-align: center !important;
        }

        body > div.page-container > div.page-content-wrapper > div > div:nth-child(3) > div > div > form > div > div:nth-child(3) > div > div > a {
            -webkit-border-radius: 4px !important;
            -moz-border-radius: 4px !important;
            border-radius: 4px !important;
        }

        .btn-outline {
            border: none !important;
        }

    </style>

{% endblock %}

{% block body %}

    <div class="page-head">
        <div class="col-md-12 col-xs-12">
            <div class="page-title">
                <h1>Neue Fanpages</h1>
            </div>
        </div>
    </div>

    <!-- BEGIN PAGE BREADCRUMB -->
    <div class="col-md-10 col-xs-12">
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="{{ path('homepage') }}">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="{{ path('app_page_index') }}">Fanpages</a>
                <i class="fa fa-globe"></i>
            </li>
            <li>
                {% if fanpages is defined %}
                    <span style="color:#697882;">Neu</span>
                {% else %}
                    <a href="{{ path('app_page_newpagesindex') }}">Neue Fanpages</a>
                {% endif %}
            </li>
        </ul>
    </div>
    <!-- END PAGE BREADCRUMB -->

    <div class="row">
        <div class="col-md-12">
            <div class="dashboard-stat2 bordered dashboard-stat-fix">
                <form class="search-form" action="{{ path('app_page_newpagesfilter') }}" method="GET">

                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" placeholder="Fanpages durchsuchen..."
                                       name="s"
                                       {% if name is defined and name|length > 0 %}value="{% if filter_minus %}-{% endif %}{{ name }}"{% endif %}>
                                <span class="input-group-btn">
                                <button class="btn btn-sm blue">
                                    <i class="icon-magnifier"></i>
                                </button>
                        </span>
                            </div>

                            <div class="text-primary col-md-12" style="margin-top: 12px;margin-left: -15px;">

                                <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse"
                                        data-target=".filter">Erweiterte Suche <i class="fa fa-angle-down"></i>
                                </button>
                            </div>

                            <div class="col-md-6 filter collapse text-primary">
                                <br/>
                                In folgenden Feldern suchen:
                                <br/>

                                <label class="switch">
                                    <input type="checkbox" id="checkAll" checked>
                                    <span class="slider round"></span>
                                    <span class="sliderName">Alle Felder</span>
                                </label>
                                <br/>

                                <label class="switch">
                                    <input type="checkbox" class="btn btn-primary check" name="field_name" value="1"
                                           id="field_name" {% if filter_name is not defined %}checked{% endif %}
                                            {% if filter_name is defined and filter_name == 1 %}checked{% endif %}/>
                                    <span class="slider round"></span>
                                    <span class="sliderName">Name</span>
                                </label>
                                <br/>

                                <label class="switch">
                                    <input type="checkbox" class="btn btn-primary check" name="field_cat"
                                           value="1" id="field_category"
                                           {% if filter_category is not defined %}checked{% endif %}
                                            {% if filter_category is defined and filter_category == 1 %}checked{% endif %}/>
                                    <span class="slider round"></span>
                                    <span class="sliderName">Kategorie</span>
                                </label>
                                <br/>

                                <label class="switch">
                                    <input type="checkbox" class="btn btn-primary check" name="field_adr"
                                           value="1" id="field_adress"
                                           {% if filter_adress is not defined %}checked{% endif %}
                                            {% if filter_adress is defined and filter_adress == 1 %}checked{% endif %}/>
                                    <span class="slider round"></span>
                                    <span class="sliderName">Ort</span>
                                </label>
                                <br/>

                                <label class="switch">
                                    <input type="checkbox" class="btn btn-primary check" name="field_about" value="1"
                                           id="field_about"
                                           {% if filter_about is not defined %}checked{% endif %}
                                            {% if filter_about is defined and filter_about == 1 %}checked{% endif %}/>
                                    <span class="slider round"></span>
                                    <span class="sliderName">Über diese Seite</span>
                                </label>
                                <br/>

                                <label class="switch">
                                    <input type="checkbox" class="btn btn-primary check" name="field_descr"
                                           value="1" id="field_description"
                                           {% if filter_description is not defined %}checked{% endif %}
                                            {% if filter_description is defined and filter_description == 1 %}checked{% endif %}/>
                                    <span class="slider round"></span>
                                    <span class="sliderName">Beschreibung</span>
                                </label>

                                <br/>
                                <label class="switch">
                                    <input type="checkbox" class="btn btn-primary check" name="field_impr"
                                           value="1" id="field_impressum"
                                           {% if filter_impressum is not defined %}checked{% endif %}
                                            {% if filter_impressum is defined and filter_impressum == 1 %}checked{% endif %}/>
                                    <span class="slider round"></span>
                                    <span class="sliderName">Impressum</span>
                                </label>
                            </div>


                            <div class="col-md-6 collapse filter text-primary">

                                <p>In folgendem Suchauftrag suchen:</p>
                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-list-alt"></i>
                                                    </span>
                                    <select id="listSelect2" class="form-control" name="pSearch">
                                        {% if searches is defined %}
                                            {% if filterSearch is defined and filterSearch is not null %}
                                                <option selected
                                                        value="{{ filterSearch.id }}">{{ filterSearch.term }}</option>
                                                <option value="null" id="list2Null">Alle</option>
                                            {% else %}
                                                <option value="null" id="list2Null">Alle</option>
                                            {% endif %}


                                            {% for search in searches %}
                                                <option value="{{ search.id }}">{{ search.term }}</option>
                                            {% endfor %}
                                            {% if searches|length == 0 %}
                                                <option value="false">Es wurden keine Suchaufträge angelegt.</option>
                                            {% endif %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 collapse filter text-primary" style="margin-top: 30px;">
                                <div class="alert alert-info"><i class="icon-info"></i>
                                    Kennzeichnen Sie Begriffe, die Sie ausschließen möchten mit einem vorangestellten
                                    Minus.
                                </div>
                            </div>
                        </div>
                </form>
                <div class="col-md-4 col-xs-12">
                    <div class="text-center text-primary">
                        {% if count is defined %}
                            {% if count > 0 %}
                                <h3 style="margin-top: 0">{{ count }}
                                    Treffer{% if name|length > 0 %} für "{{ name }}"{% endif %}</h3>
                                {% if filterSearch %}
                                    <h4>im Suchauftrag "{{ filterSearch.term }}"</h4>
                                {% endif %}
                            {% elseif count == 0 %}
                                <h3 style="margin-top: 0">Leider keine
                                    Treffer{% if name|length > 0 %} für "{{ name }}"{% endif %}</h3>
                                {% if filterSearch %}
                                    <h4>im Suchauftrag "{{ filterSearch.term }}"</h4>
                                {% endif %}
                            {% endif %}

                        {% elseif fanpages.since is defined %}
                            {% if fanpages.since > 0 %}
                                <h3 style="margin-top: 0">Es gibt {{ fanpages["since"] }} neue
                                    Fanpage{% if fanpages["since"] != 1 %}s{% endif %}</h3>
                            {% endif %}
                        {% endif %}
                        {% if pagination|length < 1 and name is not defined %}
                            <h3 style="margin-top: 0">Es gibt keine neuen Fanpages</h3>
                            {% if filterSearch %}
                                <h4>im Suchauftrag "{{ filterSearch.term }}"</h4>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="actions" id="workOnSome" hidden>
                        <div class="btn-group pull-right">
                            <a class="btn btn-primary btn-outline btn-md" href="javascript:;" data-toggle="dropdown"
                               data-hover="dropdown" data-close-others="true" aria-expanded="false" id="bulkCount">
                                Alle Fanpages bearbeiten <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right" style="text-align: center">
                                <li>
                                    <button type="button" style="margin-top: 10px;width:100%;"
                                            id="endNewBtn" class="btn blue btn-outline"
                                            data-toggle="modal" data-target="#endNewModal"
                                            {% if pagination is defined %}{% if pagination|length < 1 %}disabled{% endif %}{% endif %}>
                                        Übernehmen
                                    </button>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <button type="button" style="margin-top: 10px;width:100%;"
                                            id="toListBtn" class="btn blue btn-outline"
                                            data-toggle="modal" data-target="#listModal">
                                        In Liste übernehmen
                                    </button>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <button type="button" class="btn red btn-outline"
                                            id="archivBtn" style="width:100%;"
                                            data-toggle="modal" data-target="#ArchivModal">
                                        Fanpages archivieren
                                    </button>
                                </li>
                                <li class="divider"></li>
                                <li>

                                    <button type="button" style="margin-bottom: 10px;width:100%;"
                                            class="btn red btn-outline"
                                            id="deleteBtn"
                                            data-toggle="modal" data-target="#DeleteModal">
                                        Fanpages entfernen
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="actions" id="workOnAll">
                        <div class="btn-group pull-right">
                            <a class="btn btn-primary btn-outline btn-md" href="javascript:;" data-toggle="dropdown"
                               data-hover="dropdown" data-close-others="true" aria-expanded="false">
                                Alle Fanpages bearbeiten <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu pull-right" style="text-align: center">
                                <li>
                                    <button type="button" style="margin-top: 10px;width:100%;"
                                            class="btn blue btn-outline"
                                            data-toggle="modal" data-target="#endAllNewModal"
                                            {% if pagination is defined %}{% if pagination|length < 1 %}disabled{% endif %}{% endif %}>
                                        Alle übernehmen
                                    </button>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <button type="button" style="margin-top: 10px;width:100%;"
                                            class="btn blue btn-outline"
                                            data-toggle="modal" data-target="#listAllModal" id="SearchToListBtn"
                                            {% if pagination is defined %}{% if pagination|length < 1 %}disabled{% endif %}{% endif %}>
                                        Alle in Liste übernehmen
                                    </button>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <button type="button" class="btn red btn-outline" style="width:100%;"
                                            data-toggle="modal" data-target="#ArchivAllModal"
                                            {% if pagination is defined %}{% if pagination|length < 1 %}disabled{% endif %}{% endif %}>
                                        Alle Fanpages archivieren
                                    </button>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <button type="button" style="margin-bottom: 10px;width:100%;"
                                            class="btn red btn-outline"
                                            data-toggle="modal" data-target="#DeleteAllModal"
                                            {% if pagination is defined %}{% if pagination|length < 1 %}disabled{% endif %}{% endif %}>
                                        Alle Fanpages entfernen
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    {% if pagination|length > 0 %}
        <div class="row">
            <div class="col-md-12">
                <div class="dashboard-stat2 bordered dashboard-stat-fix">


                    <div class="text-center">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                        <tr>
                            <th><input type="checkbox" id="bulkAll" title="Alle auswählen"/></th>
                            <th> {{ knp_pagination_sortable(pagination, 'Name', 'p.name') }}</th>
                            <th class="numeric">  {{ knp_pagination_sortable(pagination, 'Likes', 'p.fanCount') }}</th>
                            <th class="numeric">  {{ knp_pagination_sortable(pagination, 'Kategorie', 'p.category') }}</th>
                            <th class="numeric"> Adresse</th>
                            <th class="numeric"> Suchauftrag</th>
                            <th class="numeric"> {{ knp_pagination_sortable(pagination, 'Erfasst am', 'p.scrapeDate') }}</th>
                            <th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for page in pagination %}
                            <tr>
                                <td>
                                    <input type="checkbox" class="bulk" value="{{ page.id }}" title="Auswählen"/>
                                </td>
                                <td>
                                    <a data-page-link
                                       href="{{ path('app_page_show',{'id':page.id}) }}">{{ page.name }}</a>
                                </td>
                                <td class="text-right">
                                    {{ page.fanCount|number_format(0,',','.') }}
                                </td>
                                <td>
                                    {% if page.category %}
                                        {{ page.category }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if page.street %}
                                        {{ page.street }}<br/>
                                    {% endif %}
                                    {% if page.zip %}{{ page.zip }}{% endif %}
                                    {% if page.city %}{{ page.city }}{% endif %}<br/>
                                    {% if page.country %}
                                        {{ page.country }}
                                    {% endif %}
                                </td>
                                <td>{% if page.search.term is defined %}
                                        {{ page.search.term }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {{ page.scrapeDate|date("d.m.Y H:i") }}
                                </td>
                                <td style="width: 3%;">
                                    <a href="{{ path('app_page_show',{'id':page.id}) }}" title="Ansehen"
                                       class="btn btn-xs green-jungle">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    <div class="text-center">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Modals -->
    <div id="DeleteAllModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static"
         data-keyboard="false"
         data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-trash"></i> Alle Fanpages entfernen</h3>
                </div>
                <div class="modal-body">
                    {% if filterSearch is defined and filterSearch != 0 %}
                        <p>Möchten Sie wirklich <strong>alle</strong> Fanpages im Suchauftrag "{{ filterSearch.term }}"
                            wirklich löschen?<br/>
                            <small>Gelöschte Fanpages werden in der Suche nicht mehr berücksichtigt.</small>
                        </p>
                    {% else %}
                        <p>Möchten Sie die wirklich <strong>alle</strong> Fanpages löschen?<br/>
                            <small>Gelöschte Fanpages werden in der Suche nicht mehr berücksichtigt.</small>
                        </p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    {% if filterSearch|length > 0 %}
                        <a class="btn btn-danger"
                           href="{{ path('app_page_deleteSearch', { 'pSearch': filterSearch.id, 'N':1 }) }}">Bestätigen</a>
                    {% else %}
                        <a class="btn btn-danger"
                           href="{{ path('app_page_deleteSearch', { 'pSearch': null, 'N':1 }) }}">Bestätigen</a>

                    {% endif %}
                    <button type="button" class="btn btn-default" id="DismissBtn" data-dismiss="modal">Abbrechen
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="DeleteModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static"
         data-keyboard="false"
         data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-trash"></i> Fanpages entfernen</h3>
                </div>
                <div class="modal-body">
                    <p>Möchten Sie die ausgewählten Fanpages
                        wirklich löschen?<br/>
                        <small>Gelöschte Fanpages werden in der Suche nicht mehr berücksichtigt.</small>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="deleteConfirm">Bestätigen</button>
                    <button type="button" class="btn btn-default" id="DismissBtn" data-dismiss="modal">Abbrechen
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="ArchivAllModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static"
         data-keyboard="false"
         data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-times-circle-o"></i> Alle Fanpages archivieren</h3>
                </div>
                <div class="modal-body">
                    {% if filterSearch|length > 0 %}
                        <p>Möchten Sie wirklich <strong>alle</strong> Fanpages im Suchauftrag "{{ filterSearch.term }}"
                            archivieren?<br/>
                            <small>Sie können die Fanpage im Archiv jederzeit wiederherstellen.</small>
                        </p>
                    {% else %}
                        <p>Möchten Sie die wirklich <strong>alle</strong> Fanpages archivieren?<br/>
                            <small>Sie können die Fanpage im Archiv jederzeit wiederherstellen.</small>
                        </p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    {% if filterSearch is defined and filterSearch != 0 %}
                        <a class="btn btn-danger"
                           href="{{ path('app_page_archiveSearch', { 'pSearch': filterSearch.id, 'N':1 }) }}">Bestätigen</a>
                    {% else %}
                        <a class="btn btn-danger"
                           href="{{ path('app_page_archiveSearch', { 'pSearch': 'null', 'N':1 }) }}">Bestätigen</a>
                    {% endif %}
                    <button type="button" class="btn btn-default" id="DismissBtn" data-dismiss="modal">Abbrechen
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="ArchivModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static"
         data-keyboard="false"
         data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-times-circle-o"></i> Fanpages archivieren</h3>
                </div>
                <div class="modal-body">
                    <p>Möchten Sie die ausgewählten Fanpages
                        wirklich archivieren?<br/>
                        <small>Sie können die Fanpage im Archiv jederzeit wiederherstellen.</small>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="archivConfirm">Bestätigen</button>
                    <button type="button" class="btn btn-default" id="DismissBtn" data-dismiss="modal">Abbrechen
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="listAllModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static"
         data-keyboard="false"
         data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-times-circle-o"></i>
                        Alle Fanpages in Liste übernehmen</h3>
                </div>
                <div class="modal-body">
                    <br/>
                    <div class="form-group" id="listGroup">
                        {% if filterSearch is defined and filterSearch != 0 %}
                            <p>Möchten Sie wirklich <strong>alle</strong> Fanpages im Suchauftrag "{{ filterSearch.term }}"
                                einer Liste hinzufügen?</p>
                        {% else %}
                            <p>Möchten Sie wirklich <strong>alle</strong> Fanpages
                                einer Liste hinzufügen?</p>
                        {% endif %}
                        <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-list-alt"></i>
                                                    </span>
                            <select name="listSelect" id="listSelectAll" class="form-control">
                                {% if lists is not defined %}
                                    <option value="false">Sie haben noch keine Listen angelegt.</option>
                                {% else %}
                                    {% for list in lists %}
                                        <option value="{{ list.id }}">{{ list.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <small>Listen können Ihnen dabei helfen, Fanpages besser zu verwalten und zu
                            organisieren.
                        </small>
                    </div>
                </div>
                <div class="modal-footer">
                    {% if filterSearch|length > 0 %}
                        <button class="btn btn-danger" id="saveAllToListBtn">Bestätigen</button>
                    {% else %}
                        <button class="btn btn-danger" id="saveAllToListBtn">Bestätigen</button>
                    {% endif %}
                    <button class="btn btn-default" id="listModalX" data-dismiss="modal">Abbrechen
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="listModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static"
         data-keyboard="false"
         data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-times-circle-o"></i>
                        Fanpage{% if count is defined %}{% if count != 1 %}s{% endif %}{% endif %} übernehmen in Liste
                        übernehmen</h3>
                </div>
                <div class="modal-body">
                    <br/>
                    <div class="form-group" id="listGroup">
                        <p>Möchten Sie die ausgewählten Fanpages
                            einer Liste hinzufügen?</p>
                        <br/>
                        <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-list-alt"></i>
                                                    </span>
                            <select name="listSelect" id="listSelect" class="form-control">
                                <option value="false" id="listNull">keine Liste gewählt</option>
                                {% if lists is not defined %}
                                    <option value="false">Sie haben noch keine Listen angelegt.</option>
                                {% else %}
                                    {% for list in lists %}
                                        <option value="{{ list.id }}">{{ list.name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                        <small>Listen können Ihnen dabei helfen, Fanpages besser zu verwalten und zu
                            organisieren.
                        </small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="saveAll">
                        Übernehmen
                    </button>
                    <button class="btn btn-default" id="listModalX" data-dismiss="modal">Abbrechen
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="endAllNewModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static"
         data-keyboard="false"
         data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-times-circle-o"></i>
                        Alle Fanpage{% if count is defined %}{% if count != 1 %}s{% endif %}{% endif %} übernehmen</h3>
                </div>
                <div class="modal-body">
                    {% if filterSearch|length > 0 %}
                        <p>Möchten Sie wirklich <strong>alle</strong> Fanpages als gelesen übernehmen?</p>
                    {% else %}
                        <p>Möchten Sie die ausgewählten Fanpages als gelesen übernehmen?</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    {% if filterSearch|length > 0 %}
                        <a type="button" class="btn btn-primary"
                           href="{{ path('app_page_readSearch', { 'pSearch': filterSearch.id, 'N':1 }) }}">
                            Übernehmen
                        </a>
                    {% else %}
                        <a type="button" class="btn btn-primary"
                           href="{{ path('app_page_readSearch', { 'pSearch': null, 'N':1 }) }}">
                            Übernehmen
                        </a>
                    {% endif %}
                    <button class="btn btn-default" id="endModalX" data-dismiss="modal">Abbrechen
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="endNewModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static"
         data-keyboard="false"
         data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-times-circle-o"></i>
                        Fanpage{% if count is defined %}{% if count != 1 %}s{% endif %}{% endif %} übernehmen</h3>
                </div>
                <div class="modal-body">
                    <p>Möchten Sie die ausgewählten Fanpages als gelesen übernehmen?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="endAll">
                        Übernehmen
                    </button>
                    <button class="btn btn-default" id="endModalX" data-dismiss="modal">Abbrechen
                    </button>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" value="{{ page_helper.getMaxPagination(app.user) }}" id="maxPagination">

{% endblock %}

    {% block javascript %}

        <script>

            $(function () {
                $("#checkAll").click(function () {
                    $(".check").prop('checked', $(this).prop('checked'));
                });

                $(".check").click(function () {
                    if ($("#checkAll").prop('checked')) {
                        $("#checkAll").removeAttr("checked");
                    }
                });
            });


            $(function () {
                $("#bulkAll").click(function () {

                    $(".bulk").prop('checked', $(this).prop('checked'));

                    if ($('.bulk:checked').length == 0) {
                        //$("#toListBtn").prop("disabled", true);
                        //$("#endNewBtn").prop("disabled", true);
                        //$("#deleteBtn").prop("disabled", true);
                        //$("#archivBtn").prop("disabled", true);

                        $("#workOnAll").show();
                        $("#workOnSome").hide();

                        var i = 0;

                        $('.bulk:checked').each(function () {
                            i++;
                        });

                        $('#bulkCount').html(i + ' Fanpages bearbeiten <i class=\"fa fa-angle-down\"><\/i>');
                    } else {
                        //$("#toListBtn").removeAttr("disabled");
                        //$("#endNewBtn").removeAttr("disabled");
                        //$("#deleteBtn").removeAttr("disabled");
                        //$("#archivBtn").removeAttr("disabled");

                        $("#workOnAll").hide();
                        $("#workOnSome").show();

                        var i = 0;

                        $('.bulk:checked').each(function () {
                            i++;
                        });

                        $('#bulkCount').html(i + ' Fanpages bearbeiten <i class=\"fa fa-angle-down\"><\/i>');
                    }
                });

                $(".bulk").click(function () {

                    var i = 0;

                    $('.bulk:checked').each(function () {
                        i++;
                    });

                    if ($('.bulk:checked').length == 1) {
                        $('#bulkCount').html(i + ' Fanpage bearbeiten <i class=\"fa fa-angle-down\"><\/i>');
                    } else {
                        $('#bulkCount').html(i + ' Fanpages bearbeiten <i class=\"fa fa-angle-down\"><\/i>');
                    }

                    var maxPagination = $('#maxPagination').val();

                    if ($('.bulk:checked').length < maxPagination) {
                        $("#bulkAll").prop("checked", false);
                    }

                    if ($('.bulk:checked').length == 1) {

                        $("#toListBtn").html("Fanpage übernehmen");
                        $("#endNewBtn").html("Fanpage übernehmen");
                        $("#deleteBtn").html("Fanpage entfernen");
                        $("#archivBtn").html("Fanpage archivieren");
                    } else {

                        $("#toListBtn").html("Fanpages übernehmen");
                        $("#endNewBtn").html("Fanpages übernehmen");
                        $("#deleteBtn").html("Fanpages entfernen");
                        $("#archivBtn").html("Fanpages archivieren");
                    }


                    if (!$(this).prop('checked')) {

                        if ($('.bulk:checked').length == 0) {

                            $("#bulkAll").removeAttr("checked");

                            //$("#toListBtn").prop("disabled", true);
                            //$("#endNewBtn").prop("disabled", true);
                            //$("#deleteBtn").prop("disabled", true);
                            //$("#archivBtn").prop("disabled", true);

                            $("#workOnAll").show();
                            $("#workOnSome").hide();
                        }

                    } else {
                        $("#bulkAll").removeAttr("checked");

                        //$("#toListBtn").removeAttr("disabled");
                        //$("#endNewBtn").removeAttr("disabled");
                        //$("#deleteBtn").removeAttr("disabled");
                        //$("#archivBtn").removeAttr("disabled");

                        $("#workOnSome").show();
                        $("#workOnAll").hide();
                    }
                });
            });


            function getValue(name, fallback) {
                var t = window.location.search;
                var v = "";
                t = t.replace("?", "").split("&")
                for (i = 0; i < t.length; i++) {
                    v = t[i].split("=");
                    if (v[0] == name) {
                        return v[1]
                    }
                }

                return fallback ? fallback : false
            }


            $(function () {
                $('#toListBtn').off('click').click(function (e) {

                    e.preventDefault();

                    $('#saveAll').click(function () {

                        var pages = [];
                        var i = 0;

                        $('.bulk:checked').each(function () {
                            i++;
                            pages[i] = $(this).val();
                        });


                        if ($("#listSelect").val() === "false") {

                            $.ajax({
                                type: "POST",
                                url: Routing.generate('app_page_endnewpages'),

                                data: {
                                    'selected': pages
                                },

                                success: function (response) {
                                    console.log(response)
                                    if (response.status === 'ok') {

                                        window.location.reload();
                                        toastr.success("Übernommen");
                                    } else {
                                        toastr.error("Es ist ein Fehler aufgetreten.");
                                    }
                                },
                                error: function () {
                                    toastr.error("Es ist ein unerwarteter Fehler aufgetreten.");
                                }
                            });

                        } else {

                            var list_id = $("#listSelect").val();
                            $.ajax({
                                type: "POST",
                                url: Routing.generate('app_page_endnewpages'),
                                data: {
                                    'selected': pages,
                                    'list': list_id
                                },

                                success: function (response) {
                                    console.log(response)
                                    if (response.status === 'ok') {
                                        window.location.reload();
                                        toastr.success("In Liste übernommen");
                                    } else {
                                        toastr.error("Es ist ein Fehler aufgetreten.");
                                    }
                                },
                                error: function () {
                                    toastr.error("Es ist ein unerwarteter Fehler aufgetreten.");
                                }
                            });
                            $("#listSelect").prop('value', 'false');

                        }

                    });

                    $("#listModalX").click(function () {
                        $("#listSelect").prop('value', 'false');
                    });

                });
            });

            $(function () {
                $('#endNewBtn').off('click').click(function (e) {

                    e.preventDefault();

                    $('#endAll').click(function () {

                        var pages = [];
                        var i = 0;

                        $('.bulk:checked').each(function () {
                            i++;
                            pages[i] = $(this).val();
                        });

                        $.ajax({
                            type: "POST",
                            url: Routing.generate('app_page_endnewpages'),

                            data: {
                                'selected': pages
                            },

                            success: function (response) {
                                console.log(response)
                                if (response.status === 'ok') {

                                    window.location.reload();
                                    toastr.success("Übernommen");
                                } else {
                                    toastr.error("Es ist ein Fehler aufgetreten.");
                                }
                            },
                            error: function () {
                                toastr.error("Es ist ein unerwarteter Fehler aufgetreten.");
                            }
                        });

                    });

                });

                $("#endModalX").click(function () {
                    $("#listSelect").prop('value', 'false');
                });

            });


            $(function () {
                $('#archivBtn').off('click').click(function (e) {

                    e.preventDefault();

                    $('#archivConfirm').click(function () {

                        var pages = [];
                        var i = 0;

                        $('.bulk:checked').each(function () {
                            i++;
                            pages[i] = $(this).val();
                        });

                        $.ajax({
                            type: "POST",
                            url: Routing.generate('app_page_toggledisabledstate'),
                            data: {
                                'selected': pages
                            },

                            success: function (response) {
                                console.log(response)
                                if (response.status === 'ok') {
                                    window.location.reload();
                                    toastr.success("Archiviert");
                                } else {
                                    toastr.error("Es ist ein Fehler aufgetreten.");
                                }
                            },
                            error: function () {
                                toastr.error("Es ist ein unerwarteter Fehler aufgetreten.");
                            }
                        });

                    });
                });

            });


            $(function () {
                $('#deleteBtn').click(function (e) {

                    e.preventDefault();

                    $('#deleteConfirm').click(function () {
                        var pages = [];
                        var i = 0;

                        $('.bulk:checked').each(function () {
                            i++;
                            pages[i] = $(this).val();
                        });

                        $.ajax({
                            type: 'Post',
                            url: Routing.generate('app_page_deletearchive'),
                            data: {
                                'selected': pages
                            },
                            success: function (response) {
                                console.log(response)
                                if (response.status === 'ok') {
                                    window.location.reload();
                                    toastr.success("Entfernt");
                                } else {
                                    toastr.error("Es ist ein Fehler aufgetreten.");
                                }
                            },
                            error: function () {
                                toastr.error("Es ist ein unerwarteter Fehler aufgetreten.");
                            }
                        });
                    });
                });
            });

            $(function () {

                $('#SearchToListBtn').click(function (e) {
                    e.preventDefault();

                    $('#saveAllToListBtn').click(function () {

                        var pList = $('#listSelectAll').val();
                        var pSearch = $('#searchID').val();
                        var N = "1";

                        $.ajax({
                            type: 'Post',
                            url: Routing.generate('app_page_searchToList'),
                            data: {
                                'pSearch': pSearch,
                                'pList': pList,
                                'N': N
                            },
                            success: function (response) {
                                console.log(response)
                                if (response.status === 'ok') {
                                    toastr.success("Hinzugefügt");
                                } else {
                                    toastr.error("Es ist ein Fehler aufgetreten.");
                                }
                                window.location.href = Routing.generate('app_list_showlist', {'id': pList});
                            },
                            error: function () {
                                toastr.error("Es ist ein unerwarteter Fehler aufgetreten.");
                            }

                        });
                    });
                });
            });


        </script>
    {% endblock %}

