<div class="timeline-item">
    <div class="timeline-badge">
        <img class="timeline-badge-userpic" src="{{ page.picture }}"></div>
    <div class="timeline-body">
        <div class="timeline-body-arrow"></div>
        <div class="timeline-body-head">
            <div class="timeline-body-head-caption">
                <a href="javascript:;" class="timeline-body-title font-blue-madison">{{ post['type'] }}</a>
                <span class="timeline-body-time font-grey-cascade">{{ post['created_time']|date("d.m.Y H:i") }}</span>
            </div>
            <div class="timeline-body-head-actions">
                <div class="btn-group">
                    <a target="_blank" title="Post anzeigen" class="btn btn-circle green btn-sm dropdown-toggle"
                       type="button" href="{{ post['permalink_url'] }}">
                        <i class="fa fa-eye"></i>
                    </a>

                </div>
            </div>
        </div>
        <div class="timeline-body-content" id="post-{{ index }}">
            <div class="font-grey-cascade">
                {% if post['type'] == 'Foto' %}
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{ post['object'] }}" class="img-thumbnail img-responsive">
                        </div>
                        <div class="col-md-8">
                            {% if post['message'] == "" %}
                                <i>keine Beschreibung angegeben</i>
                            {% else %}
                                {{ post['message'] }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% if post['type'] == 'Video' %}
                    <div class="row">
                        <div class="col-md-12">
                            {% if post['object'] is defined %}
                                {{ post['object']|raw }}
                            {% else %}
                                {% if post['link'] is defined %}
                                    Link zum Video: <a href="{{ post["link"] }}" target="_blank">{{ post["link"] }}</a>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-md-12 margin-top-10">
                            {% if post['message'] == "" %}
                                <i>keine Beschreibung angegeben</i>
                            {% else %}
                                {% if post['message'] != post['link'] %}
                                    {{ post['message'] }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if post['type'] == 'Status Post' %}
                    {% if post['caption'] is defined %}<h3>{{ post['caption'] }}</h3>{% endif %}
                    <blockquote>{{ post['message'] }}</blockquote>
                    {% if post['link'] is defined %}
                        <hr/>
                        <p><b>Link: </b> {{ post['link'] }}</p>
                    {% endif %}
                {% endif %}
                {% if post['type'] == 'Link' %}
                    {{ post["message"] }}
                {% endif %}
                <hr/>
                <div class="reactionInfo" style="float:left;" title="Reaktionen anzeigen">
                    <div style="position: absolute;    width: 56px;   height: 25px;   z-index: 1500; cursor: pointer;">
                        <img class="reactionLoader"
                             data-id="{{ index }}" data-loaded="false" data-post="{{ post['id'] }}"
                             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                             style="width: 100%; height: 100%">
                    </div>
                    <img src="{{ asset("assets/img/fb/FB_like.svg") }}" class="reaction">
                    <img src="{{ asset("assets/img/fb/FB_love.svg") }}" class="reaction reaction_bar_one">
                    <img src="{{ asset("assets/img/fb/FB_haha.svg") }}" class="reaction reaction_bar_two">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="reactions-{{ index }}" class="modal fade" tabindex="-1" role="dialog">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Reaktionen</h4>
            </div>
            <div class="modal-body">
                <div class="reaction-modal-container">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{{ asset("assets/img/fb/FB_like.svg") }}" class="reaction reaction-modal"> <b
                                    id="reaction-like-{{ index }}">0</b></div>
                        <div class="col-md-3">
                            <img src="{{ asset("assets/img/fb/FB_love.svg") }}" class="reaction reaction-modal"> <b
                                    id="reaction-love-{{ index }}">0</b></div>
                        <div class="col-md-3">
                            <img src="{{ asset("assets/img/fb/FB_thankful.svg") }}" class="reaction reaction-modal"> <b
                                    id="reaction-thankful-{{ index }}">0</b></div>
                        <div class="col-md-3">
                            <img src="{{ asset("assets/img/fb/FB_pride.svg") }}" class="reaction reaction-modal"> <b
                                    id="reaction-pride-{{ index }}">0</b></div>


                    </div>
                    <div class="row margin-top-15">
                        <div class="col-md-3">
                            <img src="{{ asset("assets/img/fb/FB_haha.svg") }}" class="reaction reaction-modal"> <b
                                    id="reaction-haha-{{ index }}">0</b></div>
                        <div class="col-md-3">
                            <img src="{{ asset("assets/img/fb/FB_wow.svg") }}" class="reaction reaction-modal"> <b
                                    id="reaction-wow-{{ index }}">0</b></div>
                        <div class="col-md-3">
                            <img src="{{ asset("assets/img/fb/FB_sad.svg") }}" class="reaction reaction-modal"> <b
                                    id="reaction-sad-{{ index }}">0</b></div>
                        <div class="col-md-3">
                            <img src="{{ asset("assets/img/fb/FB_angry.svg") }}" class="reaction reaction-modal"> <b
                                    id="reaction-angry-{{ index }}">0</b></div>
                        <div class="col-md-3">
                            <hr/>
                            <b>Gesamt: <span id="reaction-total-{{ index }}">0</span></b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

</div>
