{% extends 'base.html.twig' %}

{% block body %}

    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title" style="width: 100%">
            <h1>{{ page.name }}
                <div class="btn-group btn-group-sm" style="float: right">
                    <a href="{{ app.request.headers.get('referer') }}" class="btn btn-sm green">
                        <i class="fa fa-angle-left"></i>&nbsp;
                        Zurück</a>

                    <a href="{{ page.link }}" class="btn btn-sm blue" target="_blank">
                        <i class="fa fa-facebook"></i>&nbsp;
                        Seite anzeigen
                    </a>
                    <button data-toggle="modal" data-target="#listModal" id="listSwitch" class="btn btn-sm green"
                            target="_blank">
                        <i class="fa fa-list-alt"></i>&nbsp;
                        {% if page.list is not null %}
                            Liste ändern
                        {% else %}
                            Zur Liste hinzufügen
                        {% endif %}
                    </button>

                </div>
            </h1>
        </div>
        <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ path('homepage') }}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{{ path('app_page_index') }}">Fanpages</a>
            <i class="fa fa-globe"></i>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->

    <div class="row">
        <div class="col-lg-3 col-md- col-sm-6 col-xs-12">
            <div class="dashboard-stat2 bordered">
                <div class="display">
                    <div class="number">
                        <h3 class="font-purple-soft">
                            <span data-counter="counterup" id="pageRate">
                                <i class="fa fa-spin fa-spinner"></i>
                            </span>
                        </h3>
                        <small>Interaktionsrate</small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-tachometer"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2 bordered">
                <div class="display">
                    <div class="number">
                        <h3 class="font-purple-soft">
                            <span data-counter="counterup"
                                  data-value="{{ page.fanCount }}">{{ page.fanCount|number_format(0,',','.') }}</span>
                        </h3>
                        <small>Likes</small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-thumbs-up"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2 bordered">
                <div class="display">
                    <div class="number">
                        <h3 class="font-green-meadow">
                            <span data-counter="counterup"
                                  data-value="{{ page.wereHere }}">{{ page.wereHere|number_format(0,',','.') }}</span>
                        </h3>
                        <small>Waren hier</small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2 bordered">
                <div class="display">
                    <div class="number">
                        <h3 class="font-blue-soft">
                            <span data-counter="counterup"
                                  data-value="{{ page.talkingAbout }}">{{ page.talkingAbout|number_format(0,',','.') }}</span>
                        </h3>
                        <small>Sprechen hierüber</small>
                    </div>
                    <div class="icon">
                        <i class="fa fa-bullhorn"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="dashboard-stat2 bordered">
            <div class="display">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <p><b>Seitenkategorie:</b></p>
                            {% if page.category %}
                                {{ page.category }}
                            {% else %}
                                <i>keine Kategorie angegeben</i>
                            {% endif %}
                            <hr/>
                            <p><b>Adresse:</b></p>
                            {% if page.city %}
                                {% if page.street %}
                                    {{ page.street }}<br/>
                                {% endif %}
                                {% if page.zip %}{{ page.zip }}{% endif %}
                                {{ page.city }}<br/>
                                {% if page.country %}
                                    {{ page.country }}
                                {% endif %}
                            {% endif %}
                            <p><b>Website: </b></p>
                            {% if page.website %}
                                <a href="{{ page.website }}" title="{{ page.website }}"
                                   target="_blank">{{ page.website|truncate(30) }}</a>
                            {% else %}
                                <i>keine Stadt angegeben</i>
                            {% endif %}
                            <hr>
                            <p><b>Impressum:</b></p>
                            {% if page.impressum %}
                                {{ page.impressum }}
                            {% else %}
                                <i>kein Impressum angegeben</i>
                            {% endif %}

                        </div>
                        <div class="col-md-6">
                            <p><b>Über diese Seite:</b></p>
                            {% if page.about %}
                                <blockquote>
                                    {{ page.about }}
                                </blockquote>
                            {% else %}
                                <i>kein "Über uns" Text angegeben</i>
                            {% endif %}
                            <p><b>Beschreibung:</b></p>
                            {% if page.description %}
                                <blockquote>
                                    {{ page.description }}
                                </blockquote>
                            {% else %}
                                <i>keine Beschreibung angegeben</i>
                            {% endif %}
                            <hr/>

                        </div>
                    </div>
                    <div class="col-md-12 margin-top">
                        <hr/>
                    </div>
                    <div class="col-md-12">

                        <div class="portlet light portlet-fit bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-comments font-green"></i>
                                    <span class="caption-subject bold font-green uppercase">Die letzten Beiträge dieser Seite</span>
                                    {#<span class="caption-helper">( insgesamt ca. {{ page.postCount|number_format(0,',','.') }} Posts)</span>#}
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="timeline">
                                    {% for post in posts %}
                                        {% if post['type'] == "Status Post" or post['type'] == 'Foto' or post['type'] == 'Video' %}
                                            {% if post['type'] == 'Status Post' %}
                                                {% if post['message']|length > 0 %}
                                                    {% include 'page/post.html.twig' with {'page':page,'post':post,'index':loop.index} %}
                                                {% endif %}
                                            {% else %}
                                                {% include 'page/post.html.twig' with {'page':page,'post':post,'index':loop.index} %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if posts|length == 0 %}
                                        <p class="text-center">
                                            Diese Seite hat noch nichts gepostet.
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <p><b>Titelbild:</b></p>
                    {% if page.cover %}
                        <img src="{{ page.cover }}" class="img-responsive img-thumbnail">
                    {% else %}
                        <i>kein Titelbild vorhanden</i>
                    {% endif %}
                    <hr/>
                    <p><b>Profilbild:</b></p>
                    {% if page.picture %}
                        <img src="{{ page.picture }}" class="img-responsive img-thumbnail">
                    {% else %}
                        <i>kein Profilbild vorhanden</i>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="listModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="closeListModal" data-dismiss="modal"
                            aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Liste für diese Seite bearbeiten</h4>
                </div>
                <div class="modal-body">
                    <form onsubmit="return false;">
                        <div class="form-body">
                            <div class="form-group" id="listGroup">
                                <label>Liste:</label><br/>
                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-list-alt"></i>
                                                    </span>
                                    <select id="listSelect" class="form-control">
                                        {% if page.list is not null %}
                                            <option value="null" id="listNull">Seite aus Liste entfernen</option>
                                        {% else %}
                                            <option value="null" id="listNull">Liste auswählen</option>
                                        {% endif %}
                                        {% for list in lists %}
                                            <option value="{{ list.id }}"
                                                    {% if page.list is not null and page.list == list %}selected="selected"{% endif %}>{{ list.name }}</option>
                                        {% endfor %}
                                        {% if lists|length == 0 %}
                                            <option value="null">Es wurden keine Listen angelegt.</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <small>Listen können Ihnen dabei helfen, Fanpages besser zu verwalten und zu
                                    organisieren.
                                </small>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn green" id="saveList">Speichern</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block javascript %}

    <script>
        $(function () {

            $.ajax({
                url: '{{ path('app_page_getrate',{'id':page.id}) }}',
                data: {'base':{{ app.request.query.get('base',10) }}},
                success: function (res) {
                    $('#pageRate').text(res.rate.toFixed(2).toString().replace('.', ',') + '%');
                },
                error: function () {
                    $('#pageRate').text('?? %');
                }
            });

            $('.reactionLoader').click(function () {
                var me = $(this);
                var container = me.parent().parent().parent().parent().parent()
                var post = me.data('post');
                var id = me.data('id');
                if (me.data('loaded') === false) {
                    App.blockUI({
                        target: container,
                        boxed: true,
                        message: 'Reaktionen werden geladen...'
                    });
                    $.ajax({
                        url: Routing.generate("app_page_getreactions", {'post': post}),
                        success: function (res) {
                            $('#reaction-total-' + id).text(res[0]);
                            $('#reaction-like-' + id).text(res[1]);
                            $('#reaction-love-' + id).text(res[2]);
                            $('#reaction-wow-' + id).text(res[3]);
                            $('#reaction-haha-' + id).text(res[4]);
                            $('#reaction-sad-' + id).text(res[5]);
                            $('#reaction-angry-' + id).text(res[6]);
                            $('#reaction-thankful-' + id).text(res[7]);
                            $('#reaction-pride-' + id).text(res[8]);
                            App.unblockUI(container)
                            me.data('loaded', true)
                            me.click();
                        }
                    })
                } else {
                    $('#reactions-' + $(this).data('id')).modal()
                }
            });

            $('#saveList').click(function () {
                if ($("#listSelect").val() === "false") {
                    $('#listGroup').addClass('has-error')
                } else {
                    $('#listGroup').removeClass('has-error');
                    $('#closeListModal').click();

                    App.blockUI({
                        target: "body",
                        boxed: true,
                        message: "Speichern..."
                    });

                    $.ajax({
                        url: Routing.generate("app_page_setlist", {'id':{{ page.id }},'json':true}),
                        data: {
                            'list': $("#listSelect").val()
                        },
                        success: function (response) {
                            if (!response.hasOwnProperty("error")) {
                                if (response.list_name == false) {
                                    toastr.info("Die Fanpage wurde aus der Liste entfernt.");
                                    $('#listSelect').find("[selected]").removeAttr('selected');
                                    $('#listSwitch').html('<i class="fa fa-list-alt"></i>&nbsp;Zur Liste hinzufügen')
                                    $('#listNull').attr('value', 'false').text("Liste auswählen").attr('selected', 'selected');
                                } else {
                                    toastr.info("Die Fanpage wurde der Liste \"" + response.list_name + "\" hinzugefügt.");
                                    $('#listSelect').find("[selected]").removeAttr('selected');
                                    $('#listSwitch').html('<i class="fa fa-list-alt"></i>&nbsp;Liste bearbeiten');
                                    $('#listSelect').find('[value="' + response.id + '"]').attr("selected", "selected")
                                    $('#listNull').attr('value', 'null').text("Fanpage aus Liste entfernen");
                                }
                            } else {
                                toastr.error(response.error, "Fehler")
                            }

                            App.unblockUI("body");
                        }
                    })
                }
            })
        })
    </script>

{% endblock %}

{% block style %}
    <style>
        .dashboard-stat2 {
            padding-bottom: 37px !important;
        }

        .dashboard-stat-fix {
            padding-bottom: 0 !important;
        }

        .margin-top {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
{% endblock %}
