{% if display == 1 %}
<table class="table table-bordered table-striped table-condensed flip-content">
    <thead class="flip-content">
    <tr>
        <th> Name</th>
        <th class="numeric"> Likes</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td style="word-break: break-word;"><a data-page-link href="{{ path('app_page_show',{'id':item.id}) }}">{{ item.name }}</a></td>

            <td class="numeric text-right"> {{ item.fanCount|number_format(0,',','.') }} </td>
        </tr>
    {% endfor %}
    {% if items|length == 0 %}
        <tr>
            <td colspan="2" class="text-center">
                Keine Fanpages in dieser Liste.
            </td>
        </tr>
    {% else %}

      <tr>
            <td colspan="2" class="text-center">
                <a href="{{ path("app_list_showlist", {"id":list.id,"view":1}) }}" class="btn btn-sm btn-default">Weitere anzeigen</a>
            </td>
        </tr>

    {% endif %}
    </tbody>
</table>
{% endif %}
{% if display == 2 %}
<table class="table table-bordered table-striped table-condensed flip-content">
    <thead class="flip-content">
    <tr>
        <th> Name</th>
        <th class="numeric" style="word-break: break-word;"> Interaktionsrate</th>
    </tr>
    </thead>
    <tbody>
    {% for item in itemsInter %}

        <tr>
            <td style="word-break: break-word;"><a data-page-link href="{{ path('app_page_show',{'id':item.id}) }}">{{ item.name }}</a></td>

            <td class="numeric text-right"> {{ item.interactionrate|number_format(2,',','.') }} %</td>
        </tr>

    {% endfor %}
    {% if items|length == 0 %}
        <tr>
            <td colspan="2" class="text-center">
                Keine Fanpages in dieser Liste.
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2" class="text-center">
                <a href="{{ path("app_list_showlist", {"id":list.id,"view":2}) }}" class="btn btn-sm btn-default">Weitere anzeigen</a>
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>
{% endif %}
{% if display == 3 %}
<table class="table table-bordered table-striped table-condensed flip-content">
    <thead class="flip-content">
    <tr>
        <th> Name</th>
        <th> Waren hier</th>
    </tr>
    </thead>
    <tbody>
    {% for item in itemsWereHere %}
        <tr>
            <td style="word-break: break-word;"><a data-page-link href="{{ path('app_page_show',{'id':item.id}) }}">{{ item.name }}</a></td>

            <td class="numeric text-right"> {{ item.wereHere|number_format(0,',','.') }}</td>
        </tr>
    {% endfor %}
    {% if items|length == 0 %}
        <tr>
            <td colspan="2" class="text-center">
                Keine Fanpages in dieser Liste.
            </td>
        </tr>
{% else %}
        <tr>
            <td colspan="2" class="text-center">

            </td>
        </tr>
    {% endif %}
    </tbody>
</table>
{% endif %}
{% if display == 4 %}
<table class="table table-bordered table-striped table-condensed flip-content">
    <thead class="flip-content">
    <tr>
        <th> Name</th>
        <th class="numeric"> Sprechen hierüber</th>
    </tr>
    </thead>
    <tbody>
    {% for item in itemsTalking %}
        <tr>
            <td style="word-break: break-word;"><a data-page-link href="{{ path('app_page_show',{'id':item.id}) }}">{{ item.name }}</a></td>

            <td class="numeric text-right"> {{ item.talkingAbout|number_format(0,',','.') }}</td>
        </tr>
    {% endfor %}
    {% if items|length == 0 %}
        <tr>
            <td colspan="2" class="text-center">
                Keine Fanpages in dieser Liste.
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="2" class="text-center">

            </td>
        </tr>
    {% endif %}
    </tbody>
</table>
{% endif %}

<!--Gesamt Übersicht -->
{% if display == 5 %}


    <table class="table table-bordered table-striped table-condensed flip-content">
        <thead class="flip-content">
        <tr>
            <th> Name</th>
            <th class="numeric"> Likes</th>
        </tr>
        </thead>
        <tbody>
        {% for item in overviewLikes %}
            <tr>
                <td style="word-break: break-word;"><a data-page-link href="{{ path('app_page_show',{'id':item.id}) }}">{{ item.name }}</a></td>

                <td class="numeric text-right"> {{ item.fanCount|number_format(0,',','.') }}</td>
            </tr>
        {% endfor %}
        {% if overviewLikes|length == 0 %}
            <tr>
                <td colspan="2" class="text-center">
                    Keine Fanpages in der Datenbank.
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2" class="text-center">
                    <a href="{{ path("app_page_index", {"view":5}) }}" class="btn btn-sm btn-default">Weitere anzeigen</a>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endif %}
{% if display == 6 %}

    <table class="table table-bordered table-striped table-condensed flip-content">
        <thead class="flip-content" style="word-break: break-word;">
        <tr>
            <th> Name</th>
            <th class="numeric"> Interaktionsrate</th>
        </tr>
        </thead>
        <tbody>
        {% for item in overviewInter %}
            <tr>
                <td style="word-break: break-word;"><a data-page-link href="{{ path('app_page_show',{'id':item.id}) }}">{{ item.name }}</a></td>

                <td class="numeric text-right">{{ item.interactionrate|number_format(2,',','.') }} %</td>

            </tr>
        {% endfor %}
        {% if overviewInter|length == 0 %}
            <tr>
                <td colspan="2" class="text-center">
                    Keine Fanpages in der Datenbank.
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2" class="text-center">
                    <a href="{{ path("app_page_index", {"view":6}) }}" class="btn btn-sm btn-default">Weitere anzeigen</a>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endif %}
{% if display == 7 %}
    <table class="table table-bordered table-striped table-condensed flip-content">
        <thead class="flip-content">
        <tr>
            <th> Name</th>
            <th class="numeric"> Waren hier</th>
        </tr>
        </thead>
        <tbody>
        {% for item in overviewWereHere %}
            <tr>
                <td style="word-break: break-word;"><a data-page-link href="{{ path('app_page_show',{'id':item.id}) }}">{{ item.name }}</a></td>

                <td class="numeric text-right"> {{ item.wereHere|number_format(0,',','.') }}</td>
            </tr>
        {% endfor %}
        {% if overviewWereHere|length == 0 %}
            <tr>
                <td colspan="2" class="text-center">
                    Keine Fanpages in der Datenbank.
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2" class="text-center">

                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endif %}
{% if display == 8 %}
    <table class="table table-bordered table-striped table-condensed flip-content">
        <thead class="flip-content">
        <tr>
            <th> Name</th>
            <th class="numeric"> Sprechen hierüber</th>
        </tr>
        </thead>
        <tbody>
        {% for item in overviewTalking %}
            <tr>
                <td style="word-break: break-word;"><a data-page-link href="{{ path('app_page_show',{'id':item.id}) }}">{{ item.name }}</a></td>

                <td class="numeric text-right"> {{ item.talkingAbout|number_format(0,',','.') }}</td>
            </tr>
        {% endfor %}
        {% if overviewTalking|length == 0 %}
            <tr>
                <td colspan="2" class="text-center">
                    Keine Fanpages in der Datenbank.
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2" class="text-center">

                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endif %}
