#progressBar {
    background-color: #32c5d2;
    width: 0px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -moz-transition: .25s ease-out;
    -webkit-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    transition: .25s ease-out;
}

body > div.page-container > div.page-content-wrapper > div > div.row > div > div.dashboard-stat2.bordered.dashboard-stat-fix > div > label {
    height:50px;
    width: 204px;
    line-height: 32px;

}
