{% extends 'base.html.twig' %}

 {% block style %}
     <link rel="stylesheet" href="{{ asset('css/import.css') }}">
 {% endblock %}

{% block body %}

    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1>Import</h1>
        </div>
        <!-- END PAGE TITLE -->

    </div>

    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ path('homepage') }}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{{ path('app_search_searchtermoverview') }}">Suchaufträge</a>
            <i class="fa fa-glass"></i>
        </li>
        <li>
            <span style="color:#697882;">Import</span>
        </li>

    </ul>
    <!-- END PAGE BREADCRUMB -->



    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PORTLET-->
            <div class="alert alert-info">
                <i class="icon-info"></i>


                Hier können Sie Suchaufträge anlegen, indem Sie eine CSV-Datei hochladen.
                <ul>
                    <li>Die hochgeladene Datei wird zeilenweise ausgewertet.</li>
                    <li>Wir empfehlen Ihnen maximal 2 Begriffe pro Zeile.</li>
                    <li>Mehrere Begriffe in einer Zeile bitte per Semikolon trennen.</li>
                </ul>
            </div>
            <div class="dashboard-stat2 bordered dashboard-stat-fix">

                <div class="text-center">
<div id="uploadstuff" class="hidden">
                    <div id="filename"></div>
                    <br/>
                    <div id="progress"></div>
                    <br/>
                    <div id="progressBar"></div>
</div><br />
                    <label for="import" class="btn green fileinput">
                            <i class="fa fa-plus"></i>
                            <span> Suchaufträge importieren</span>
                            <input type="file" name="import" id="import" class="hidden">
                    </label>


                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>

{% endblock %}

{% block javascript %}

    <!-- file Upload -->
    <script src="{{ asset('assets/js/simpleUpload.min.js') }}"></script>
    <script>
        $(document).ready(function () {

            $('#input').off('click');

            $('.fileinput-button').click(function () {
                $(this).find('input[type="file"]').trigger('click');
            });

            $('input[type="file"]').change(function () {

                $(this).simpleUpload(Routing.generate('app_page_import'), {

                    allowedExts: ["csv"],
                    allowedTypes: ["text/csv"],

                    start: function (file) {
                        //upload started
                        $('#uploadstuff').removeClass('hidden');
                        $('#filename').html("Beginne mit dem Import von: <br>" + file.name);
                        $('#progress').html("");
                        $('#progressBar').width(0);
                    },

                    progress: function (progress) {
                        $('#progressBar').width(progress + "%");
                    },

                    success: function (data) {
                        //upload successful
                        $('#progress').html(JSON.stringify(data.count) + " Suchbegriff(e) hinzugefügt.");
                        console.log(data)
                        if (data.failed > 0) {
                            $('#progress').append("<br />" + JSON.stringify(data.failed) + " Suchbegriff(e) konnten nicht hinzugefügt, da Sie bereits 5 Suchaufträge in Ihrem Account hinterlegt haben.");
                        }

                    },

                    error: function (error) {
                        //upload failed
                        $('#progress').html("Hochladen fehlgeschlagen<br>" + error.name + ": " + error.message);

                    }

                });

            });

        });

    </script>



{% endblock %}