{% extends 'base.html.twig' %}

{% block style %}
    {{ parent() }}

    <style type="text/css">
        body > div.page-container > div.page-content-wrapper > div > div:nth-child(3) > div > div > form > div > div > div.text-primary.col-md-12 > div > p {
            margin: 8px 0 2px;
        }

    </style>

{% endblock %}


{% block body %}

    <div class="page-head">
        <div class="col-md-12 col-xs-12">
            <div class="page-title">
                <h1>Inhalte</h1>
            </div>
        </div>
    </div>

    <!-- BEGIN PAGE BREADCRUMB -->
    <div class="col-md-10 col-xs-12">
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="{{ path('homepage') }}">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="{{ path('app_content_index') }}">Inhalte</a>
                <i class="fa fa-globe"></i>
            </li>
        </ul>
    </div>
    <!-- END PAGE BREADCRUMB -->

    <div class="row">
        <div class="col-md-12">
            <div class="dashboard-stat2 bordered dashboard-stat-fix">
                <form class="search-form" method="GET">

                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="alert alert-info">
                                <i class="icon-info"></i>
                                <p style="margin-left:25px;margin-top:-20px;">
                                    Hier können Sie Posts gefundener Fanpages stichwortartig durchsuchen, dabei werden
                                    maximal 100 Posts angezeigt.
                                    <br/>
                                    Kennzeichnen Sie Begriffe, die Sie ausschließen möchten mit einem vorangestellten
                                    Minus.
                                </p>
                            </div>
                            <div class="input-group col-md-12">


                                <input type="text" class="form-control input-sm" placeholder="Suchbegriff..."
                                       name="q"
                                       {% if app.request.query.has('q') %}value="{{ app.request.query.get('q') }}"{% endif %}>
                                <span class="input-group-btn">
                                <button class="btn btn-sm blue">
                                    <i class="icon-magnifier"></i>
                                </button>
                                </span>

                            </div>
                            <div class="col-md-12" style="margin-top: 12px">
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse"
                                        style="margin-left: -15px;"
                                        data-target=".filter">Erweiterte Suche <i class="fa fa-angle-down"></i>
                                </button>

                            </div>
                            <div class="col-md-12" style="margin-top: 12px">
                                <div class="col-md-6 collapse filter text-primary">

                                    <p>In folgender Liste suchen:</p>
                                    <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-list-alt"></i>
                                                    </span>
                                        <select id="listSelect" class="form-control" name="pList">
                                            {% if lists is defined %}
                                                {% if filterList is defined and filterList is not null %}
                                                    <option selected
                                                            value="{{ filterList.id }}">{{ filterList.name }}</option>
                                                    <option value="null" id="listNull">Alle</option>
                                                {% else %}
                                                    <option value="null" id="listNull">Alle</option>
                                                {% endif %}

                                                {% for list in lists %}
                                                    <option value="{{ list.id }}">{{ list.name }}</option>
                                                {% endfor %}
                                                {% if lists|length == 0 %}
                                                    <option value="false">Es wurden keine Listen angelegt.</option>
                                                {% endif %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>


                                <div class="col-md-6 collapse filter text-primary">

                                    <p>In folgendem Suchauftrag suchen:</p>
                                    <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-list-alt"></i>
                                                    </span>
                                        <select id="listSelect" class="form-control" name="pSearch">
                                            {% if searches is defined %}
                                                {% if filterSearch is defined and filterSearch is not null %}
                                                    <option selected
                                                            value="{{ filterSearch.id }}">{{ filterSearch.term }}</option>
                                                    <option value="null" id="list2Null">Alle</option>
                                                {% else %}
                                                    <option value="null" id="list2Null">Alle</option>
                                                {% endif %}


                                                {% for search in searches %}
                                                    <option value="{{ search.id }}">{{ search.term }}</option>
                                                {% endfor %}
                                                {% if searches|length == 0 %}
                                                    <option value="false">Es wurden keine Suchaufträge angelegt.
                                                    </option>
                                                {% endif %}
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    {% if app.request.query.has('q') %}
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="row margin-top-15">
                    <div class="col-md-12">

                        <div class="portlet light portlet-fit bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-comments font-green"></i>
                                    {% if app.request.query.get('q') == '' %}
                                        <span class="caption-subject bold font-green uppercase">Leider keine Treffer</span>

                                    {% elseif posts|length == 0 %}
                                        <span class="caption-subject bold font-green uppercase">Leider keine Treffer für "{{ app.request.query.get('q') }}
                                            "</span>
                                    {% else %}
                                        <span class="caption-subject bold font-green uppercase">Beiträge mit dem Suchbegriff "{{ app.request.query.get('q') }}
                                            "</span>
                                        {#<span class="caption-helper">( insgesamt ca. {{ page.postCount|number_format(0,',','.') }} Posts)</span>#}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="timeline">

                                    {% for post in posts %}
                                        {% include 'posts/post.html.twig' with {'post':post,'index':loop.index} %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $('.reactionLoader').click(function () {
            var me = $(this);
            var container = me.parent().parent().parent().parent().parent()
            var post = me.data('post');
            var id = me.data('id');
            if (me.data('loaded') === false) {
                App.blockUI({
                    target: container,
                    boxed: true,
                    message: 'Reaktionen werden geladen...'
                });
                $.ajax({
                    url: Routing.generate("app_page_getreactions", {'post': post}),
                    success: function (res) {
                        $('#reaction-total-' + id).text(res[0]);
                        $('#reaction-like-' + id).text(res[1]);
                        $('#reaction-love-' + id).text(res[2]);
                        $('#reaction-wow-' + id).text(res[3]);
                        $('#reaction-haha-' + id).text(res[4]);
                        $('#reaction-sad-' + id).text(res[5]);
                        $('#reaction-angry-' + id).text(res[6]);
                        $('#reaction-thankful-' + id).text(res[7]);
                        $('#reaction-pride-' + id).text(res[8]);
                        App.unblockUI(container)
                        me.data('loaded', true)
                        me.click();
                    }
                })
            } else {
                $('#reactions-' + $(this).data('id')).modal()
            }
        });
    </script>
{% endblock %}