{% extends 'base.html.twig' %}

{% block body %}

    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="col-md-8 col-xs-12 page-title">
            <h1>Übersicht</h1>
        </div>
        <div class="col-md-4 pull-right hidden-xs">
            <a href="#newSearchModal" class="btn btn-sm green-jungle" data-toggle="modal"
                                    style="width: 194px;float: right;padding: 6px;font-size: 14px;"> Suchauftrag hinzufügen
                <i class="fa fa-plus"></i>
            </a>
        </div>
        <div class=" col-xs-12  hidden-md hidden-lg hidden-sm">
            <a href="#newSearchModal" class="btn btn-sm green-jungle" data-toggle="modal"
                                    style="width: 194px;padding: 6px;font-size: 14px;margin-left: -17px;margin-top: -10px;margin-bottom: 10px;"> Suchauftrag hinzufügen
                <i class="fa fa-plus"></i>
            </a>
        </div>
        <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ path('homepage') }}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span style="color:#697882;">Suchaufträge</span>
            <i class="fa fa-glass"></i>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->

    <!--
    <div class="alert alert-info">
        <i class="icon-info"></i>
        Sie können bis zu {{ search_helper.maxSearchesPerUser }} Suchaufträge anlegen.
      </div>
-->

    <div class="row">
        <div class="dashboard-stat2 bordered">
            <div class="display">
                <div class="col-md-12">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                        <tr>
                            <th style="width: 33%">Suchauftrag</th>
                            <th>Fanpages in der Datenbank</th>
                            <th>Neue Fanpages</th>
                            <th>Letzter vollständiger Suchlauf</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="searchTermTable">

                        {% for item in terms %}
                            <tr>
                                <td class="numeric">{{ item.term }}</td>
                                <td class="text-right">{% if search_helper.countPagesInSearch(item)|length == 0 %}0{% else %}{{ search_helper.countPagesInSearch(item) }}{% endif %}</td>
                                <td class="text-right">{% if search_helper.countNewPagesInSearch(item)|length == 0 %}0{% else %}{{ search_helper.countNewPagesInSearch(item) }}{% endif %}</td>

                                {% if item.lastComplete == null %}
                                    <td>Suche läuft</td>
                                {% else %}
                                    <td class="text-right">{{ item.lastComplete|date('d.m.Y H:i') }}</td>
                                {% endif %}
                                <td class="text-right">
                                    <div class="btn-group btn-group-xs btn-group-solid">
                                        {% if search_helper.countNewPagesInSearch(item) > 0 %}
                                        <a href="{{ path('app_page_newpagesfilter', {'s':'%','pSearch':item.id,'sort':'p.scrapeDate','direction':'desc','field_name':1,'field_cat':1,'field_adr':1,'field_about':1,'field_descr':1,'field_impr':1}) }}"
                                           class="btn btn-xs green-jungle" title="Ergebnisse anzeigen">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        {% else %}
                                            <a href="{{ path('app_page_index', {'s':'%','pSearch':item.id,'sort':'p.scrapeDate','direction':'desc','field_name':1,'field_cat':1,'field_adr':1,'field_about':1,'field_descr':1,'field_impr':1}) }}"
                                               class="btn btn-xs green-jungle" title="Ergebnisse anzeigen">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        {% endif %}

                                        <button type="button" class="btn btn-xs red confirmDelete" title="Löschen"
                                                data-delete-id="{{ item.id }}">
                                            <i class="fa fa-trash-o"></i></button>
                                        {#<button data-search="{{ item.term }}" class="btn btn-xs blue-hoki"#}
                                                {#title="Jetzt suchen">#}
                                            {#<i class="fa fa-search"></i>#}
                                        {#</button>#}

                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if terms|length == 0 %}
                            <tr>
                                <td colspan="4" id="noSearchItemColumn" class="text-center">
                                    <p>Es wurden noch keine Suchaufträge hinzugefügt.</p>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="newSearchModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="closeNewSearchModal" data-dismiss="modal"
                            aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Suchauftrag hinzufügen</h4>
                </div>
                <div class="modal-body">
                    <form onsubmit="return false;">
                        <div class="form-body">
                            <div class="form-group" id="searchGroup">
                                <label>Suchbegriff:</label><br/>
                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-search"></i>
                                                    </span>
                                    <input type="text" class="form-control" id="searchinput">
                                </div>
                                <small>Nach diesem Begriff wird Facebook-Suche abgefragt.</small>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="btn green-jungle" id="savesearchterm">Speichern</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- DeleteModal -->

    <div id="DeleteOverviewModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static"
         data-keyboard="false" data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-trash-o"></i> Löschen best&auml;tigen</h3>
                </div>
                <div class="modal-body">
                    <p>Möchten Sie den Suchauftrag: <strong></strong>
                        wirklich löschen?</p>
                    <p>
                        <input type="checkbox" id="deleteAll" name="deleteAll" checked/> Auch die dazugehörigen Fanpages löschen?
                    </p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" id="DeleteOverviewBtn" data-dismiss="modal">Löschen</a>
                    <button type="button" class="btn btn-default" id="dismissbtn" data-dismiss="modal">Abbrechen</button>
                </div>
            </div>

        </div>
    </div>



{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            $('#savesearchterm').click(function () {

                if ($("#searchinput").val() === "") {
                    $('#searchGroup').addClass('has-error')
                } else {
                    $('#searchGroup').removeClass('has-error')
                    $('#closeNewSearchModal').click()

                    App.blockUI({
                        target: "body",
                        boxed: true,
                        message: "Speichern..."
                    });
                    $.ajax({
                        url: '{{ path('app_search_job_new') }}',
                        type: 'post',
                        data: {
                            'term': $("#searchinput").val()
                        },
                        success: function (response) {

                            if (!response.hasOwnProperty("error")) {
                                addSearchRow(response.id, response.term);
                                toastr.success("Suchauftrag erfolgreich erstellt");
                            } else {
                                toastr.error(response.error, "Fehler")
                            }

                            $("#searchinput").val("");
                            App.unblockUI("body");

                        }
                    });
                }
            });

        });

        $(document).on('click', '[data-delete-id]', function (e) {

            row = $(this);
            OverviewName = $(this).closest('tr').children('td').first().text();

            e.preventDefault();

            $("#checkbox").removeAttr("checked");

            $('#DeleteOverviewModal').modal('show');
            $('#DeleteOverviewModal').find('.modal-body').find('p').find('strong').text(OverviewName);


            $('#DeleteOverviewBtn').off('click').click(function () {

                if ($('#deleteAll').is(':checked')) {

                    $.ajax({
                        url: '{{ path('app_search_deleteall') }}',
                        data: {'id': row.data('delete-id')},
                        success: function (response) {
                            console.log(response)
                            if (response.status === 'ok') {

                                row.parent().parent().parent().remove();

                                if ($('#searchTermTable').children().length === 0) {
                                    $('#searchTermTable').html('<tr><td colspan="4" id="noSearchItemColumn" class="text-center"> <p>Es wurden noch keine Suchaufträge hinzugefügt.</p> <p> <a href="#newSearchModal" data-toggle="modal" class="btn btn-sm green-jungle"> Suchauftrag hinzufügen <i class="fa fa-plus"></i> </a> </p> </td> </tr>');
                                }
                            }
                        }

                    });
                    toastr.success("Gelöscht");
                    $('#deleteAll').prop('checked', true);

                } else {

                    $.ajax({
                    url: '{{ path('app_search_delete') }}',
                    data: {'id': row.data('delete-id')},
                    success: function (response) {
                        if (response.status === 'ok') {

                            row.parent().parent().parent().remove();

                            if ($('#searchTermTable').children().length === 0) {
                                $('#searchTermTable').html('<tr><td colspan="4" id="noSearchItemColumn" class="text-center"> <p>Es wurden noch keine Suchaufträge hinzugefügt.</p> <p> <a href="#newSearchModal" data-toggle="modal" class="btn btn-sm green-jungle"> Suche hinzufügen <i class="fa fa-plus"></i> </a> </p> </td> </tr>');
                            }
                        }
                    }
                })
                    toastr.success("Gelöscht");
                }
                $("#checkbox").prop('checked', false);
                $('#deleteAll').prop('checked', false);
            });
        });

        $("dismissbtn").click(function () {
            $('#deleteAll').prop('checked', false);
        });


        $('#DeleteOverviewModal').on('hidden.bs.modal', function () {
            $("#checkbox").removeAttr("checked");
        });


        $(document).on('click', 'html > div.blockUI.blockMsg.blockElement > div > span > button', function () {
            App.unblockUI("html");
            window.canceld = true;
        });


        $(document).on('click', '[data-search]', function () {
            window.canceld = false;
            var search = $(this).data('search');
            App.blockUI({
                target: 'html',
                boxed: true,
                message: "Suche wird ausgeführt<br />Dies kann einige Zeit in Anspruch nehmen.<br /><button id=\"searchAbort\" class=\"btn btn-xs\">Abbrechen</button>"
            });
            $.ajax({
                url: Routing.generate("app_search_searchnow", {'term': search}),
                success: function () {
                    if (window.canceld === false) {
                        window.location.href = Routing.generate("app_page_newpagesindex")
                    }
                }
            });

        });


        function addSearchRow(id, term) {
            if ($('#noSearchItemColumn').length === 1) {
                $('#noSearchItemColumn').remove();
            }
            $('#searchTermTable').append('<tr><td>' + term + '</td><td class="text-right">0</td><td class="text-right">0</td><td>Suche läuft</td><td class="text-right"><div class="btn-group btn-group-xs btn-group-solid"><a href="' + Routing.generate("app_search_showpagesbysearch", {
                    'id': id,
                    'sort': 'p.scrapeDate',
                    'direction': 'desc'
                }) + '" class="btn btn-xs green-jungle" title="Ergebnisse anzeigen"> <i class="fa fa-eye"></i> </a><button type="button" class="btn btn-xs red confirmDelete" title="Löschen" data-delete-id="\' + id + \'"><i class="fa fa-trash-o"></i></button></div></td>');
        }


    </script>
{% endblock %}
