{% extends 'base.html.twig' %}

{% macro getExportLink() %}
    {% if app.request.query.has("sort") %}
        {% set sort = app.request.query.get("sort") %}
    {% else %}
        {% set sort = 'p.scrapeDate' %}
    {% endif %}
    {% if app.request.query.has("direction") %}
        {% set direction = app.request.query.get("direction") %}
    {% else %}
        {% set direction = 'asc' %}
    {% endif %}
    {% set term = app.request.query.get("s",null) %}
    {% if app.request.query.has('list') %}
        {% set list = app.request.query.get("list") %}
        {{ path('app_search_export',{'sort':sort,'direction':direction,'list':list}) }}
    {% else %}
        {{ path('app_search_export',{'term':term,'sort':sort,'direction':direction}) }}
    {% endif %}

{% endmacro %}

{% import _self as helper %}

{% block body %}

    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title" style="width: 100%">
            <h1>Suche</h1>
        </div>
        <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ path('homepage') }}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{{ path('app_search_searchtermoverview') }}">Suchaufträge</a>
            <i class="fa fa-glass"></i>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->

    <div class="search-bar bordered">
        <div class="row">
            <div class="col-md-12">
                <form action="{{ path("app_search_pagesearch") }}">
                    <div class="input-group">
                        <input type="text" name="s" value="{{ app.request.query.get('s','') }}" class="form-control"
                               placeholder="Suche nach: Seiten Namen, Kategorien, Städten, Postleitzahlen und Beschreibungen">
                        <span class="input-group-btn">
                        <button class="btn blue uppercase bold" type="submit">Suchen</button>
                    </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if pagination is not null %}
        <div class="row margin-top-20">
        <div class="col-md-12">
        <div class="dashboard-stat2 bordered dashboard-stat-fix">

        <div class="row">
            <div class="col-md-6 col-md-push-3">
                <div class="text-center">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-right margin-top-10 margin-bottom-10">
                    {% if pagination.getTotalItemCount > 0 %}
                        <a class="btn btn-sm green" href="{{ helper.getExportLink() }}">
                            <i class="fa fa-file-excel-o"></i>
                            Exportieren
                        </a>
                    {% endif %}
                </div>

            </div>
        </div>
        <table class="table table-bordered table-striped table-condensed flip-content">
            <thead class="flip-content">
            <tr>
                <th> {{ knp_pagination_sortable(pagination, 'Name', 'p.name') }}</th>
                <th class="numeric">  {{ knp_pagination_sortable(pagination, 'Likes', 'p.fanCount') }}</th>
                <th class="numeric">  {{ knp_pagination_sortable(pagination, 'Kategorie', 'p.category') }}</th>
                <th class="numeric"> Adresse</th>
                <th class="numeric"> Telefon</th>
                <th class="numeric"> {{ knp_pagination_sortable(pagination, 'Erfasst am', 'p.scrapeDate') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% if pagination.getTotalItemCount > 0 %}
                {% for page in pagination %}
                    <tr>
                        <td>
                            <a data-page-link
                               href="{{ path('app_page_show',{'id':page.id}) }}">{{ page.name }}</a>
                        </td>
                        <td>
                            {{ page.fanCount|number_format(0,',','.') }}
                        </td>
                        <td>
                            {% if page.category %}
                                {{ page.category }}
                            {% else %}
                                <i>k.A.</i>
                            {% endif %}
                        </td>
                        <td>

                            {% if page.street %}
                                {{ page.street }}<br/>
                            {% endif %}
                            {% if page.zip %}{{ page.zip }}{% endif %}
                            {% if page.city %}{{ page.city }}{% endif %}<br/>
                            {% if page.country %}
                                {{ page.country }}
                            {% endif %}
                        </td>
                        <td>
                            {% if page.phone %}
                                <a href="tel:{{ page.phone }}" target="_blank">{{ page.phone }}</a>
                            {% else %}
                                <i>k.A.</i>
                            {% endif %}
                        </td>
                        <td>
                            {{ page.scrapeDate|date("d.m.Y H:i") }}
                        </td>
                        <td class="text-right" style="width: 80px;">
                            <div class="btn-group btn-group-xs">
                                <a href="{{ path('app_page_show',{'id':page.id}) }}" title="Ansehen"
                                   class="btn btn-xs blue-hoki">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="{{ path('app_page_toggledisabledstate',{'id':page.id}) }}"
                                   title="Deaktivieren"
                                   class="btn btn-xs red-mint confirmDelete">
                                    <i class="fa fa-times-circle-o"></i>
                                </a>
                            </div>

                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <div class="text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
        <div class="count">
            <p>Es
                wurde{% if pagination.getTotalItemCount > 1 or pagination.getTotalItemCount  < 1 %}n{% endif %} {{ pagination.getTotalItemCount|number_format(0,',','.') }}
                Ergebnis{% if pagination.getTotalItemCount > 1 or pagination.getTotalItemCount < 1 %}se{% endif %}
                gefunden.</p>
        </div>
    {% else %}
        {% if app.request.query.has("s") %}
            <p class="text-center">
                Es wurden keine Ergebnisse für "{{ app.request.query.get('s') }}" gefunden.
            </p>
        {% endif %}
        </div>

        </div>
        </div>

    {% endif %}


    <!-- DeleteModal -->

    <div id="DeleteModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false" data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-times-circle-o"></i> Deaktivieren best&auml;tigen</h3>
                </div>
                <div class="modal-body">
                    <p>Möchten Sie die Fanpage: <strong></strong>
                        wirklich deaktivieren?</p>
                    <p><small>* Sie können die Fanpage im Archiv jederzeit wieder aktivieren.</small></p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" id="DeleteBtn"  data-dismiss="modal">Deaktivieren</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                </div>
            </div>

        </div>
    </div>



{% endblock %}


{% block javascript %}

    <script>

        $(function() {

            $('.confirmDelete').click(function (e) {

                deleteByID = $(this);
                SearchName = $(this).closest('tr').children('td').first().children('a').first().text();

                e.preventDefault();

                $('#DeleteModal').modal('show');
                $('#DeleteModal').find('.modal-body').find('p').find('strong').text(SearchName);

                $('#DeleteBtn').off('click').click(function (e) {

                    e.preventDefault();

                    window.location = deleteByID.attr('href');

                    $('#DeleteModal').modal('hide');
                });

            });
        });

    </script>

{% endblock %}


