{% extends 'base.html.twig' %}

{% macro getExportLink(search) %}
    {% if app.request.query.has("sort") %}
        {% set sort = app.request.query.get("sort") %}
    {% else %}
        {% set sort = 'p.scrapeDate' %}
    {% endif %}
    {% if app.request.query.has("direction") %}
        {% set direction = app.request.query.get("direction") %}
    {% else %}
        {% set direction = 'asc' %}
    {% endif %}

    {% set term = app.request.query.get("s",null) %}


            {% set field_name = app.request.query.get("field_name",null) %}

            {% set field_cat = app.request.query.get("field_cat",null) %}

            {% set field_sear = app.request.query.get("field_sear",null) %}

            {% set field_adr = app.request.query.get("field_adr",null) %}

            {% set field_about = app.request.query.get("field_about",null) %}

            {% set field_descr = app.request.query.get("field_descr",null) %}

            {% set field_impr = app.request.query.get("field_impr",null) %}

        {{ path('app_search_export',{'term':term,'sort':sort,'direction':direction,'search':search.id,'field_name':field_name,'field_cat':field_cat,'field_sear':field_sear,'field_adr':field_adr,'field_about':field_about,'field_descr':field_descr,'field_impr':field_impr}) }}






{% endmacro %}

{% import _self as helper %}


{% block style %}
    {{ parent() }}

    <style type="text/css">

        th:nth-of-type(1),
        tr td:nth-of-type(1),
        th:nth-of-type(9),
        tr td:nth-of-type(9) {
            text-align: center !important;
        }


        body > div.page-container > div.page-content-wrapper > div > div:nth-child(3) > div > div > div > div:nth-child(4) > div:nth-child(2) > div > div > a {
            -webkit-border-radius: 4px !important;
            -moz-border-radius: 4px !important;
            border-radius: 4px !important;
        }

        #toListBtn, #archivBtn, #deleteBtn {
            border: none !important;
        }

    </style>

{% endblock %}

{% block body %}

    <!-- BEGIN PAGE HEAD-->
    <div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <div class="page-title">
            <h1 id="title">{{ search.term }}</h1>
        </div>
        <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE HEAD -->
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="{{ path('homepage') }}">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="{{ path('app_search_searchtermoverview') }}">Suchaufträge</a>
            <i class="fa fa-glass"></i>
        </li>
        <li>
            <span style="color:#697882;">{{ name }}</span>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->


    <div class="row">
        <div class="col-md-12">
            <div class="dashboard-stat2 bordered dashboard-stat-fix">


                    <div class="row">
                        <form class="search-form" action="{{ path('app_search_filterpagesinsearch') }}" method="GET">
                        <div class="col-md-4 col-xs-12" style="top:8px;">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" placeholder="Fanpages durchsuchen..."
                                       name="s"
                                       {% if name is defined and name|length > 0 %}value="{{ name }}"{% endif %}>
                                <span class="input-group-btn">
                                <button class="btn btn-sm blue">
                                    <i class="icon-magnifier"></i>
                                </button>
                        </span>
                            </div>

                            <div class="text-primary col-md-12" style="margin-top: 12px;margin-left: -15px;">

                                            <button type="button" class="btn btn-primary btn-sm" data-toggle="collapse"
                                                    data-target=".filter">Erweiterte Suche  <i class="fa fa-angle-down"></i>
                                            </button>

                                <div class="pull-right">
                                    {% if pagination.items|length > 0 %}

                                            <div class="text-center text-primary">
                                                <div class="pull-right">

                                                </div>
                                            </div>

                                    {% endif %}
                                </div>




                            </div>




                            <div class="col-md-6 filter collapse">

                                <p class=" text-primary">In folgenden Feldern suchen:</p>

                                <label class="switch">
                                                    <input type="checkbox" id="checkAll" checked>
                                                    <span class="slider round"></span>
                                                    <span class="sliderName">Alle Felder</span>
                                                </label>

                                                <br/>
                                                <label class="switch">
                                                <input type="checkbox" class="btn btn-primary check" name="field_name"
                                                       value="1"
                                                       id="field_name"
                                                       {% if filter_name is not defined %}checked{% endif %}
                                                        {% if filter_name is defined and filter_name == 1 %}checked{% endif %}/>
                                                    <span class="slider round"></span>
                                                    <span class="sliderName">Name</span>
                                                </label>
                                                <br/>
                                                <label class="switch">
                                                <input type="checkbox" class="btn btn-primary check" name="field_cat"
                                                       value="1" id="field_category"
                                                       {% if filter_category is not defined %}checked{% endif %}
                                                        {% if filter_category is defined and filter_category == 1 %}checked{% endif %}/>
                                                <span class="slider round"></span>
                                                <span class="sliderName">Kategorie</span>
                                                </label>
                                                <br/>
                                                <label class="switch">
                                                <input type="checkbox" class="btn btn-primary check" name="field_adr"
                                                       value="1" id="field_adress"
                                                       {% if filter_adress is not defined %}checked{% endif %}
                                                        {% if filter_adress is defined and filter_adress == 1 %}checked{% endif %}/>
                                                <span class="slider round"></span>
                                                <span class="sliderName">Ort</span>
                                                </label>

                                                <br/>
                                                <label class="switch">
                                                <input type="checkbox" class="btn btn-primary check" name="field_about"
                                                       value="1"
                                                       id="field_about"
                                                       {% if filter_about is not defined %}checked{% endif %}
                                                        {% if filter_about is defined and filter_about == 1 %}checked{% endif %}/>
                                                <span class="slider round"></span>
                                                <span class="sliderName">Seite</span>
                                                </label>
                                                <br/>
                                                <label class="switch">
                                                <input type="checkbox" class="btn btn-primary check" name="field_descr"
                                                       value="1" id="field_description"
                                                       {% if filter_description is not defined %}checked{% endif %}
                                                        {% if filter_description is defined and filter_description == 1 %}checked{% endif %}/>
                                                <span class="slider round"></span>
                                                <span class="sliderName">Beschreibung</span>
                                                </label>
                                                <br/>
                                                <label class="switch">
                                                <input type="checkbox" class="btn btn-primary check" name="field_impr"
                                                       value="1" id="field_impressum"
                                                       {% if filter_impressum is not defined %}checked{% endif %}
                                                        {% if filter_impressum is defined and filter_impressum == 1 %}checked{% endif %}/>
                                                <span class="slider round"></span>
                                                <span class="sliderName">Impressum</span>
                                                </label>
                                            </div>

                            <div class="col-md-6 collapse filter text-primary">

                                <p>In folgender Liste suchen:</p>
                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-list-alt"></i>
                                                    </span>
                                    <select id="listSelect" class="form-control" name="pList">
                                        {% if lists is defined %}
                                            {% if filterList is defined and filterList is not null %}
                                                <option selected value="{{ filterList.id }}">{{ filterList.name }}</option>
                                                <option value="null" id="listNull">Alle</option>
                                            {% else %}
                                                <option value="null" id="listNull">Alle</option>
                                            {% endif %}

                                            {% for list in lists %}
                                                <option value="{{ list.id }}">{{ list.name }}</option>
                                            {% endfor %}
                                            {% if lists|length == 0 %}
                                                <option value="false">Es wurden keine Listen angelegt.</option>
                                            {% endif %}
                                        {% endif %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 collapse filter text-primary" style="margin-top: 30px;">
                                <div class="alert alert-info"><i class="icon-info"></i>
                                    Kennzeichnen Sie Begriffe, die Sie ausschließen möchten mit einem vorangestellten Minus.
                                </div>
                            </div>

                            </div>

                </form>

                        {% if pageCount is defined %}
                            <div class="col-md-4 col-xs-12">
                                <div class="text-center text-primary">
                                    <h3 style="margin-top: 0px">
                                        {% if pageCount > 0 %}
                                            {{ pageCount }} Treffer für "{{ name }}"
                                        {% else %}
                                            Leider keine Treffer für "{{ name }}"
                                        {% endif %}
                                    </h3>
                                </div>
                            </div>

                        {% else %}
                            {% if pagination|length == 0 %}
                                <div class="col-md-4 col-xs-12">

                                    <div class="text-center text-primary">
                                        <h3 style="margin-top: 0px">
                                            {{ search_helper.countPagesInSearch(search) }} Fanpages in diesem Auftrag.
                                        </h3>
                                    </div>
                                </div>
                            {% endif %}
                            <!--
                            <div class="col-md-4 col-xs-12">

                                <div class="text-center text-primary">
                                    <h3 style="margin-top: 0px">

                                    </h3>
                                </div>
                            </div>

                            -->


                        {% endif %}


                        {% if id is defined %}
                            <input type="hidden" name="id" value="{{ id }}"/>
                        {% endif %}


                        <div class="col-md-4 col-xs-12 text-right" style="margin-top:26px;">

                            <div class="col-md-12">

                            <form method="POST" action="{{ path('app_search_export') }}">

                                <input type="hidden" name="search" id="searchInput" />
                                <input type="hidden" name="pages" id="pagesInput" />

                                <button type="button" class="btn btn-md green" id="exportBtn" disabled style="margin-top: -32px;">
                                    <i class="fa fa-file-excel-o"></i>
                                    Fanpages exportieren
                                </button>
                                <input type="submit" style="display: none" id="exportSubmit" value="submit" />
                            </form>

                            </div>

                            <div class="col-md-12 text-right">

                                <div class="actions">
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-primary btn-outline btn-md" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                                            <i class="fa fa-wrench" aria-hidden="true"></i> Fanpages bearbeiten <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu pull-right" style="text-align: center">

                                            <li>
                                                <button type="button" style="margin-top: 10px;
                                                    id=" id="toListBtn" class="btn blue btn-outline"
                                                        data-toggle="modal" data-target="#listModal" disabled>
                                                    In Liste übernehmen
                                                </button>
                                            </li>
                                            <li class="divider"> </li>
                                            <li>
                                                <button type="button" class="btn red btn-outline"
                                                        id="archivBtn"
                                                        data-toggle="modal" data-target="#ArchivModal" disabled>
                                                    Fanpages archivieren
                                                </button>
                                            </li>
                                            <li class="divider"> </li>
                                            <li>

                                                <button type="button" style="margin-bottom: 10px;" class="btn red btn-outline"
                                                        id="deleteBtn"
                                                        data-toggle="modal" data-target="#DeleteModal" disabled>
                                                    Fanpages entfernen
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>




                        </div>

                    </div>


            </div>
        </div>
    </div>
    {% if pagination|length > 0 %}
        <div class="row margin-top-20">
        <div class="col-md-12">
        <div class="dashboard-stat2 bordered dashboard-stat-fix">

        <div class="text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-bordered table-striped table-condensed flip-content">
            <thead class="flip-content">
            <tr>
                <th><input type="checkbox" id="bulkAll"/></th>
                <th> {{ knp_pagination_sortable(pagination, 'Name', 'p.name') }}</th>
                <th class="numeric">  {{ knp_pagination_sortable(pagination, 'Likes', 'p.fanCount') }}</th>
                <th class="numeric">  {{ knp_pagination_sortable(pagination, 'Interaktionsrate', 'p.interactionrate') }}</th>
                <th class="numeric">  {{ knp_pagination_sortable(pagination, 'Kategorie', 'p.category') }}</th>
                <th class="numeric"> Adresse</th>
                <th class="numeric"> Telefon</th>
                <th class="numeric"> {{ knp_pagination_sortable(pagination, 'Erfasst am', 'p.scrapeDate') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for page in pagination %}
                    <tr>
                        <td>
                            <input type="checkbox" class="bulk" value="{{ page.id }}"/>
                        </td>
                        <td>
                            <a data-page-link
                               href="{{ path('app_page_show',{'id':page.id}) }}">{{ page.name }}</a>
                        </td>
                        <td class="text-right">
                            {{ page.fanCount|number_format(0,',','.') }}
                        </td>
                        <td class="text-right">
                            {% if page.interactionrate > 0 %}
                                &nbsp; {{ page.interactionrate|number_format(2,',','.') }} %
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if page.category %}
                                {{ page.category }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>

                            {% if page.street %}
                                {{ page.street }}<br/>
                            {% endif %}
                            {% if page.zip %}{{ page.zip }}{% endif %}
                            {% if page.city %}{{ page.city }}{% endif %}<br/>
                            {% if page.country %}
                                {{ page.country }}
                            {% endif %}
                        </td>
                        <td>
                            {% if page.phone %}
                                <a href="tel:{{ page.phone }}" target="_blank">{{ page.phone }}</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {{ page.scrapeDate|date("d.m.Y H:i") }}
                        </td>
                        <td style="width: 3%;">
                            <a href="{{ path('app_page_show',{'id':page.id}) }}" title="Ansehen"
                               class="btn btn-xs green-jungle">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        </div>
        </div>
        </div>
    {% endif %}


    <div id="DeleteModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false"
         data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-times-circle-o"></i> Fanpages entfernen</h3>
                </div>
                <div class="modal-body">
                    <p>Möchten Sie die ausgewählten Fanpages
                        wirklich löschen?<br/>
                        <small>Gelöschte Fanpages werden in der Suche nicht mehr berücksichtigt.</small>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="deleteConfirm" data-dismiss="modal">Bestätigen</button>
                    <button type="button" class="btn btn-default" id="DismissBtn" data-dismiss="modal">Abbrechen
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div id="ArchivModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false"
         data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-times-circle-o"></i> Fanpages archivieren</h3>
                </div>
                <div class="modal-body">
                    <p>Möchten Sie die ausgewählten Fanpages
                        wirklich archivieren?<br/>
                        <small>Sie können die Fanpage im Archiv jederzeit wiederherstellen.</small>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="archivConfirm" data-dismiss="modal">Bestätigen</button>
                    <button type="button" class="btn btn-default" id="DismissBtn" data-dismiss="modal">Abbrechen
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div id="listModal" class="modal fade in" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false"
         data-attention-animation="false" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><i class="fa fa-times-circle-o"></i>
                        Fanpage{% if count is defined %}{% if count != 1 %}s{% endif %}{% endif %} übernehmen</h3>
                </div>
                <div class="modal-body">
                    <p>Möchten Sie die Fanpages in Ihre Übersicht übernehmen?</p>
                    {% if lists is defined %}
                        <br/>
                        <div class="form-group" id="listGroup">
                            <label>
                                Sie können sie auch direkt einer Liste hinzufügen:
                            </label><br/>
                            <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-list-alt"></i>
                                                    </span>
                                <select name="listSelect2" id="listSelect2" class="form-control">
                                    {% for list in lists %}
                                        <option value="{{ list.id }}">{{ list.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <small>Listen können Ihnen dabei helfen, Fanpages besser zu verwalten und zu
                                organisieren.
                            </small>
                        </div>
                    {% else %}
                        <br/>
                        <div class="form-group" id="listGroup">
                            <label>
                                Sie haben noch keine Listen angelegt
                            </label><br/><br/>

                            <small>Listen können Ihnen dabei helfen, Fanpages besser zu verwalten und zu
                                organisieren.
                            </small>
                        </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="saveAll">
                        Übernehmen
                    </button>
                    <button class="btn btn-default" id="listModalX" data-dismiss="modal">Abbrechen
                    </button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block javascript %}

    <script>

        $(function () {
            $("#checkAll").click(function () {
                $(".check").prop('checked', $(this).prop('checked'));
            });

            $(".check").click(function () {
                if ($("#checkAll").prop('checked')) {
                    $("#checkAll").removeAttr("checked");
                }
            });
        });


        $(function () {

            $("#bulkAll").click(function () {

                $(".bulk").prop('checked', $(this).prop('checked'));

                if ($('.bulk:checked').length == 0) {
                    $("#toListBtn").prop("disabled", true);
                    $("#deleteBtn").prop("disabled", true);
                    $("#archivBtn").prop("disabled", true);
                    $("#exportBtn").prop("disabled", true);

                } else {

                    $("#toListBtn").removeAttr("disabled");
                    $("#deleteBtn").removeAttr("disabled");
                    $("#archivBtn").removeAttr("disabled");
                    $("#exportBtn").removeAttr("disabled");
                }

            });

            $(".bulk").click(function () {

                if ($('.bulk:checked').length == 1) {
                    $("#deleteBtn").html("Fanpage entfernen");
                    $("#archivBtn").html("Fanpage archivieren");
                    $("#exportBtn").html("<i class=\"fa fa-file-excel-o\"></i> Fanpage exportieren");

                } else {
                    $("#deleteBtn").html("Fanpages entfernen");
                    $("#archivBtn").html("Fanpages archivieren");
                    $("#exportBtn").html("<i class=\"fa fa-file-excel-o\"></i> Fanpages exportieren");
                }


                if (!$(this).prop('checked')) {

                    if ($('.bulk:checked').length == 0) {

                        $("#bulkAll").removeAttr("checked");

                        $("#toListBtn").prop("disabled", true);
                        $("#deleteBtn").prop("disabled", true);
                        $("#archivBtn").prop("disabled", true);
                        $("#exportBtn").prop("disabled", true);

                    }

                } else {

                    $("#bulkAll").removeAttr("checked");

                    $("#toListBtn").removeAttr("disabled");
                    $("#deleteBtn").removeAttr("disabled");
                    $("#archivBtn").removeAttr("disabled");
                    $("#exportBtn").removeAttr("disabled");

                }
            });
        });


        function getValue(name, fallback) {
            var t = window.location.search;
            var v = "";
            t = t.replace("?", "").split("&")
            for (i = 0; i < t.length; i++) {
                v = t[i].split("=");
                if (v[0] == name) {
                    return v[1]
                }
            }

            return fallback ? fallback : false
        }


        $(function () {
            $('#toListBtn').off('click').click(function (e) {

                e.preventDefault();

                $('#saveAll').click(function () {

                    var pages = [];
                    var i = 0;

                    $('.bulk:checked').each(function () {
                        i++;
                        pages[i] = $(this).val();
                    });


                    if ($("#listSelect2").val() === "false") {

                        $.ajax({
                            type: "POST",
                            url: Routing.generate('app_page_tolist'),

                            data: {
                                'selected': pages
                            },

                            success: function (response) {
                                console.log(response)
                                if (response.status === 'ok') {

                                    $( "#listModalX" ).trigger( "click" );
                                    toastr.success("Übernommen");
                                } else {
                                    toastr.error("Es ist ein Fehler aufgetreten");
                                }
                            },
                            error: function () {
                                toastr.error("Es ist ein unerwarteter Fehler aufgetreten");
                            }
                        });

                    } else {

                        var list_id = $("#listSelect2").val();
                        $.ajax({
                            type: "POST",
                            url: Routing.generate('app_page_tolist'),
                            data: {
                                'selected': pages,
                                'list': list_id
                            },

                            success: function (response) {
                                console.log(response)
                                if (response.status === 'ok') {
                                    $( "#listModalX" ).trigger( "click" );
                                    toastr.success("In Liste übernommen");
                                } else {
                                    toastr.error("Es ist ein Fehler aufgetreten");
                                }
                            },
                            error: function () {
                                toastr.error("Es ist ein unerwarteter Fehler aufgetreten");
                            }
                        });
                        $("#listSelect2").prop('value', 'false');

                    }

                });

                $("#listModalX").click(function () {
                    $("#listSelect2").prop('value', 'false');
                });

            });
        });

        $(function () {
            $('#archivBtn').off('click').click(function (e) {

                e.preventDefault();

                $('#archivConfirm').click(function () {

                    var pages = [];
                    var i = 0;

                    $('.bulk:checked').each(function () {
                        i++;
                        pages[i] = $(this).val();
                    });

                    $.ajax({
                        type: "POST",
                        url: Routing.generate('app_page_toggledisabledstate'),
                        data: {
                            'selected': pages
                        },

                        success: function (response) {
                            console.log(response)
                            if (response.status === 'ok') {
                                window.location.reload();
                                toastr.success("Archiviert");
                            } else {
                                toastr.error("Es ist ein Fehler aufgetreten");
                            }
                        },
                        error: function () {
                            toastr.error("Es ist ein unerwarteter Fehler aufgetreten");
                        }
                    });

                });
            });

        });


        $(function () {
            $('#deleteBtn').click(function (e) {

                e.preventDefault();

                $('#deleteConfirm').click(function () {
                    var pages = [];
                    var i = 0;

                    $('.bulk:checked').each(function () {
                        i++;
                        pages[i] = $(this).val();
                    });

                    $.ajax({
                        type: 'Post',
                        url: Routing.generate('app_page_deletearchive'),
                        data: {
                            'selected': pages
                        },
                        success: function (response) {
                            console.log(response)
                            if (response.status === 'ok') {
                                window.location.reload();
                                toastr.success("Entfernt");
                            } else {
                                toastr.error("Es ist ein Fehler aufgetreten");
                            }
                        },
                        error: function () {
                            toastr.error("Es ist ein unerwarteter Fehler aufgetreten");
                        }

                    });
                });


            });
        });



        $(function () {
            $('#exportBtn').click(function (e) {

                e.preventDefault();

                var search = $('#title').text();

                var pages = [];
                    var i = 0;

                    $('.bulk:checked').each(function () {
                        i++;
                        pages[i] = $(this).val();
                    });

                $("#searchInput").val(search);
                $("#pagesInput").val(JSON.stringify(pages));

                $('#exportSubmit').trigger("click");


            });
            });




    </script>

{% endblock %}


